[2013-10-21 22:18] pixelzoom opened #1 "should we try to preserve the Java strings related to games?"
The Java games strings are all in phetcommon, and all appear to have a 'Games' prefix.  The keys currently do not match the keys in the vegas English strings file.

[2013-11-04 21:22] pixelzoom opened #2 "LevelCompletedNode: misc work"
Missing feature:
- optionally show the level number. Add 'level' constructor parameter and 'levelVisible' options (true by default, ala Scoreboard).

Bug:
- testing if elapsedTime >= bestTime is not sufficient for displaying "New Best Time". The first time you get a perfect score, it will incorrectly display "New Best Time". Ditto if you tie your previous best time. Need to add 'isNewBestTime' con

[2013-11-04 22:35] pixelzoom opened #3 "LevelStartButton: misc work"
The current implementation isn't leveraging anything from 'sun', and it's not even using scenery.ButtonListener.

[2013-11-04 23:56] #1 closed, assigned to nobody

[2013-11-04 23:59] pixelzoom opened #4 "port build-an-atom.RewardNode to vegas"
graphing-lines will need something like this in the next week or two.

Several Java sims had a (somewhat general?) version of this reward node, and there was a test application for playing around with various degrees of freedom.

[2013-11-05 00:00] pixelzoom opened #5 "port build-an-atom.StartGameLevelNode to vegas"
This in the node that includes the level selection buttons, sound button, timer button and 'reset all' button.  Something almost identical is needed now in graphing-lines. Investigate generalizing what's been done in build-an-atom.

[2013-11-05 17:01] pixelzoom opened #6 "add options to ProgressIndicator"
All of the things that are constants should be options. And distanceBetweenStars should be an option (needed by computation of starDiameter in LevelStartButton, see #3).

[2013-11-05 21:23] #2 closed, assigned to jbphet

[2013-11-14 04:51] pixelzoom opened #7 "add option to show 'best time' in LevelStartButton"
This was identified in a meeting with @ariel-phet on 11/5/13, and is desirable in graphing-lines.

[2013-11-19 01:17] jbphet opened #8 "Determine minimum usable encoding rate for sound effects to minimize size"
The sound effect files may be larger than needed since the sound quality doesn't need to be that great.  And, since there are 4 sound effects, and we currently need to support two formats for each (mp3 and ogg), it is probably worth investigating whether their size can be significantly reduced.

[2014-03-12 00:56] #6 closed, assigned to nobody

[2014-04-14 22:07] pixelzoom opened #9 "repository has no LICENSE file"

[2014-04-17 17:01] #9 closed, assigned to nobody

[2014-05-09 19:33] jbphet opened #10 "Change label of button on scoreboard from "New Game" to "Start Over""
At the 5/8/2014 design meeting, it was decided that it would make more sense for the button on the scoreboard to say "Start Over" instead of "New Game", since in most cases the user is returned to the level selection screen, which isn't really letting them start a new game.  However, the caption should be made an option in case other labels are desired.

[2014-05-09 20:01] #10 closed, assigned to nobody

[2014-05-16 20:57] pixelzoom opened #11 "bugs introduced into Scoreboard"
Commit https://github.com/phetsims/vegas/commit/4a2c21b0bf9e5ebba182953e4d116a42f733d39e changed 'New Game' to 'Start Over', but also introduced some problems.

(1) Default font size was changed from 20 to 16. Looks like this was done for the benefit of balancing-act. But it adversely affects graphing-lines, and potentially other sims. balancing-act should have used the options.font to set its pre

[2014-05-22 15:00] samreid opened #12 "Better support for partial stars?"
See https://github.com/phetsims/fraction-matcher/issues/34

[2014-05-22 19:36] #11 closed, assigned to jbphet

[2014-05-23 20:15] #12 closed, assigned to nobody

[2014-05-28 22:16] pixelzoom opened #13 "LevelStartButton does not scale stars to fit"
Stars do no scale to fit options.buttonWidth. For example, with options.buttonWidth:100 ...

![screenshot_263](https://cloud.githubusercontent.com/assets/3046552/3111799/b8d1e13a-e6b5-11e3-87d2-ea3ba42fe00d.png)

[2014-05-28 22:18] pixelzoom opened #14 "margins on LevelStartButton"
There is currently no way to specify the margin around the button icon. It's essentially hard-coded here:

[code]

This probably worked fine for Balancing Act, where the icons were short and wide. But it's not a general solution.

[2014-05-30 03:45] samreid opened #15 "Aesthetic improvements for LevelCompletedNode"
LevelCompletedNode currently looks like so (in the vegas example html):

![test](https://cloud.githubusercontent.com/assets/679486/3126842/c0869356-e7ac-11e3-9f51-6bb11cd1a160.png)

I think it would look better to left align Level/Score/Time and to remove the word "Your".

[2014-05-30 17:32] samreid opened #16 "I recommend cheering when showing the RewardNode if audio is enabled"
I recommend cheering when showing the RewardNode if audio is enabled.

Bonus points: let's record our team cheering for the audio clip.

[2014-06-10 17:05] pixelzoom opened #17 "Game timer needs to be rewritten"
vegas.GameTimer has this problem: https://github.com/phetsims/joist/issues/116

[2014-06-12 04:33] samreid opened #18 "Transitions to/from levels"
Fractions sims have used a scrolling transition to make the sims more friendly and fun, and to give the users a better intuitive sense of where they are within the game.  Should we use that UI pattern for other sims as well?

For instance, see:
http://www.colorado.edu/physics/phet/dev/html/fraction-matcher/1.0.0-dev.18/fraction-matcher_en.html

[2014-06-15 17:18] #5 closed, assigned to nobody

[2014-06-15 17:31] #3 closed, assigned to pixelzoom

[2014-06-15 17:43] pixelzoom opened #19 "increase default xMargin for RectangularButtonView"
The default margins in RectangularButtonView are currently:

This looks crowded in the x dimension, and I've had to adjust just about every button I've created to compensate. If you look at buttons in general, you'll see that xMargin is typically greater than yMargin. You can see examples here in GitHub issues, but by all means look elsewhere to confirm.

[2014-06-15 18:56] pixelzoom opened #20 "LevelStartButton: add option for shadow offet"
This is currently hardcoded as a percentage of buttonWidth:

Using a percentage gives an inconsistent look; all buttons should have the same drop shadow offset. Otherwise 2 buttons of different sizes will look odd when placed side-by-side.

Current clients of LevelStartButton have these computed shadowOffset values:

area-build 3.9
arithmetic 3.51
balancing-act 3.9
balancing-chemical-equations 4.0

[2014-06-15 19:23] #19 closed, assigned to nobody

[2014-06-16 20:46] #7 closed, assigned to jbphet

[2014-06-16 20:48] samreid opened #21 "Reword "Your New Best" to "My New Best"?"
In https://github.com/phetsims/acid-base-solutions/issues/122#issuecomment-46233452 @pixelzoom pointed out that we sometimes say "your" and sometimes "my".  In my recollection, "my" is more prevalent.  This issue is to decide what's best for the wording of the "your new best" / "my new best" dialog and apply it.

[2014-06-16 21:27] #13 closed, assigned to jbphet

[2014-06-17 02:25] #15 closed, assigned to nobody

[2014-06-17 05:11] samreid opened #22 "How should RewardNode tick?"
I'm designing the public API for RewardNode and not sure of the best design for getting step callbacks so the items can be animated.  Some possibilities:
1. simulation calls rewardNode.step(dt)
2. simulation passes a stepListener or equivalent into rewardNode
3. use something like joist/Timer (once it is fixed)

Currently 1-2 are supported in the code, (1) is exercised in vegas/RewardNodeScreenVie

[2014-06-23 20:25] #20 closed, assigned to jbphet

[2014-06-23 20:45] #14 closed, assigned to jbphet

[2014-06-25 20:07] samreid opened #23 "Rename audio sounds to match their content"
In Skype, I wrote:

[2014-06-25 20:50] #23 closed, assigned to samreid

[2014-06-25 20:50] #16 closed, assigned to nobody

[2014-06-25 20:52] #17 closed, assigned to nobody

[2014-06-25 20:55] #21 closed, assigned to nobody

[2014-07-07 15:48] pixelzoom opened #24 "scoreboard 'bar'"
We experimented with a new type of scoreboard in graphing-lines, a horizontal bar that is similar to the navigation bar. See screenshot below.  Team feedback on this has been unanimously positive, and PhET would like to use it in balancing-chemical-equations and reactants-products-and-leftovers.

The implementation currently live in graphing-lines.GLScoreboard.  It's largely a copy of vegas.Scoreb

[2014-07-07 20:57] pixelzoom opened #25 "going from a game-in-progress to the level-selection screen"
Two issues related to going from a game-in-progress to the level-selection screen:
1. What (if any) state should be saved for the game-in-progress? Should the timer continue to run? etc.
2. What user-interface component should be used to initiate going to the level-selection screen? "Start Over" button? Iconic button?...

This issue was being discussed here https://github.com/phetsims/graphing-lin

[2014-07-09 17:11] pixelzoom opened #26 "LevelStartButton oscillates between 'up' and 'down'"
This was reported in https://github.com/phetsims/graphing-lines/issues/32 and https://github.com/phetsims/fraction-matcher/issues/70. If you click anywhere on the button's stroke and hold the pointer down, the button will oscillate between up and down.  And depending on when you release the pointer, the button may be left stuck in the down state.

I reproduced it on Mac OS 10.9.3 + Chrome latest,

[2014-07-10 15:31] jbphet opened #27 "Convert LevelStartButton to use new button infrastructure"
As of this writing, LevelStartButton is not using the recently produced Sun code for buttons. It should be converted to do so.  Making this change will likely help to resolve issues like #26.

The initial request is to do it as a prototype that can be reviewed at design meeting.

[2014-07-11 13:29] samreid opened #28 "Scoreboard floats but Navbar doesn't"
As noted in: https://github.com/phetsims/graphing-lines/issues/38

In my opinion, it is odd that the navbar stays at the bottom of the screen but the gamebar floats into the middle of the screen.  Why should this be asymmetric?  Screenshot from my skinny Win8/Chrome:

![asymmetric](https://cloud.githubusercontent.com/assets/679486/3553060/5d064f46-08ff-11e4-91fd-0225ad9bfe2a.png)

[2014-07-11 15:47] #26 closed, assigned to samreid

[2014-07-11 16:08] pixelzoom opened #29 "feedback for games (aka "the frowny face issue")"
This discussion started here: https://github.com/phetsims/graphing-lines/issues/35

To summarize: Some feel that the 'frowny' face (or 'sad' face) is too judgmental or harsh. It was replaced in some sims with a 'grimace' face ('puzzled' emoticon), which some feel is ambiguous, some feel is actually more threatening, and deviates from what has (up until now) been the PhET standard.  So PhET needs t

[2014-07-11 17:54] pixelzoom opened #30 "ProgressIndicator may create more stars than desired"
I ran into this when adding some 'dev' mode features to balancing-chemical-equations.

ProgressIndicator's constructor looks like:

It observes scoreProperty, and computes the number of 'filled' stars like this:

The problem here is that there's no check to verify that the score is <= perfectScore. If it's not, then it will create more stars than numStars.

[2014-07-11 18:40] pixelzoom opened #31 "LevelCompletedNode doesn't scale well"
LevelCompletedNode arranges stars in a horizontal line. If the number of challenges in a game is more than 5 or 6, this node starts to get exceptionally wide, and can exceed the width of the screen.  We need an option to limit the width of the dialog, or perhaps the width of the stars.

[2014-07-11 18:55] #31 closed, assigned to nobody

[2014-07-12 18:53] #30 closed, assigned to jbphet

[2014-07-15 15:58] pixelzoom opened #32 "sound is broken for sims that have games"
This was originally reported for Graphing Lines (https://github.com/phetsims/graphing-lines/issues/40) on iPad2 with iOS 7.1.2.

While investigating, it was also found to also be a problem in Balancing Chemical Equations, Balancing Act and Fractions Intro. Sound works fine in non-game sims (e.g. John Travoltage). So this is presumably something specific to the audio in games, and may affect all ga

[2014-07-22 21:39] pixelzoom opened #33 "sound doesn't work on sims with games (iPad2)"
This was originally reported for Graphing Lines in https://github.com/phetsims/graphing-lines/issues/40, but was demonstrated to occur for other sims with games. See the discussion in that issue for details.

This has only been reproduced (consistently) on the iPad2 belonging to @amanda-phet. Other iPad2's do not exhibit this behavior.

[2014-07-23 16:33] #33 closed, assigned to nobody

[2014-07-29 20:29] pixelzoom opened #34 "'cheering' sound continues after you've pressed the 'Continue' button"
In https://github.com/phetsims/balancing-chemical-equations/issues/92, @ycarpenterphet reported:

GameAudioPlayer currently has no interface for stopping sounds, so I suspect that this is an issue with all sims that have game audio. And perhaps this is something that wasn't considered when the old perfect-score sound was replaced with the 'cheering' sound -- the cheering sound is longer.  In any c

[2014-08-25 14:47] samreid opened #35 "Cheering is a bit too loud"
Recently, @jbphet said the cheering is a bit too loud compared to the rest of the sounds in the sim.  We should take a look and see if/how much the volume should be reduced.  (Or should the other sounds be turned up)?

[2014-10-20 19:14] pixelzoom opened #36 "give level-selection buttons that new sun "look""
@jbphet did this and named it LevelStartButtonNew. This was reviewed by the PhET team at the 10/16/14 status meeting and got a unanimous "thumbs up".

I renamed the old button to LevelStartButtonDeprecated, and renamed the new button to LevelSelectionButton (since we refer to the interface that it appears on as the "level-selection screen").

RPAL, BCE and Graphing Lines were cut over to use Level

[2014-10-20 20:40] pixelzoom opened #37 "sizing bug with LevelSelectionButton"
In RPAL, I created 3 instances of LevelSelectionButton, all with buttonWidth:150 and buttonHeight:200, each with a different icon.  Here's are the button sizes that I got (screenshot below):

Level 1: 151.5 x 205.8
Level 2: 151.5 x 203.8
Level 3: 151.5 x 190.8

The discrepancy in width is perhaps explained by lineWidth or something like that. All of the widths are the same at least, and close enou

[2014-10-20 22:46] #37 closed, assigned to jbphet

[2014-12-04 21:01] pixelzoom opened #38 ""ding" sound needs refining"
@kathy-phet provided this feedback on RPAL 1.0.0-dev.13.

[2015-01-28 18:39] pixelzoom commented on #38
If we were waiting on anyone else, 1+ month is long enough.  Closing.

[2015-01-28 18:39] #38 closed

[2015-01-28 18:43] pixelzoom commented on #36
LevelStartButtonDeprecated is still being used in balancing-act, build-an-atom and fraction-matcher. @jbphet and @samreid would you prefer to handle the switch to LevelSelectionButton, or would you like me to?

[2015-01-28 19:00] samreid commented on #36
I fixed fraction matcher above.  I'll leave the rest up to @pixelzoom and @jbphet.

[2015-01-28 19:09] samreid opened #39 "RewardNode seems broken in 0.2"
I only saw 1-2 smiling faces go by.  It looks like the bounds are too wide.  From skype:

@samreid: FractionMatcher needs to get the bounds of the screen to set the size of a reward node canvas.  Was using: this.getUniqueTrail().nodes[ 0 ].bounds  What should I use in 0.2?
@jonathanolson: Same thing will work in 0.2
@samreid: [1/28/15, 12:07:38 PM] Sam Reid: I tried it and the bounds are very wide

[2015-01-28 19:14] pixelzoom commented on #39
It's also broken in RPAL.  Run with ?dev&showReward and you'll see the reward regardless of score.  When it gets to where it should display the reward, it looks like it's entering an endless loop, with this error message in the console:

[2015-01-28 19:20] pixelzoom commented on #39
This is apparently due to a breaking API change in scenery 0.2.  RewardNode uses scene.sceneBounds, which doesn't exist in scenery 0.2.

[2015-01-28 19:27] pixelzoom commented on #39
Sims that are broken:
balancing-chemical-equations
build-an-atom
fraction-matcher
graphing-lines
reactants-products-and-leftovers

[2015-01-28 19:53] pixelzoom commented on #39
After a bunch of Skype discussion, here's the plan:

Scenery changes:

getTrails returns an array
getUniqueTrail will return a single trail, or fail

RewardNode fix:

var screenView = trail.rootNode();
var localBounds = trail.getTransform().inverseBounds2( screenView.layoutBounds );

[2015-01-28 20:09] pixelzoom commented on #36
All sims have been converted, LevelStartButtonDeprecated deleted, closing.

[2015-01-28 20:09] #36 closed

[2015-02-19 16:15] pixelzoom commented on #39
This is still broken, see https://github.com/phetsims/reactants-products-and-leftovers/issues/33. Reopening and assigning to @jonathanolson. High priority.

[2015-02-19 16:43] pixelzoom commented on #39
Fraction Matcher is also still broken, with the same console error as RPAL:

I'm guessing that all sims that use RewardNode are similarly broken.

[2015-02-19 16:45] pixelzoom commented on #39
The following sims are broken:

balancing-chemical-equations
fraction-matcher
graphing-lines
reactants-products-and-leftovers

[2015-02-19 17:22] jonathanolson commented on #39
It's likely I broke it again recently, looking into it. Sorry!

[2015-02-19 17:52] jonathanolson commented on #39
Looks like it was an unchanged window.simDisplay reference that caused the issue (change now to phet.joist.sim.display). Reassigning for testing/review.

[2015-02-20 22:04] pixelzoom commented on #39
Appears to be fixed, thanks! Closing.

[2015-02-20 22:04] #39 closed

[2015-02-20 22:06] pixelzoom opened #40 "RewardNode does not fill the window"
This is a problem in master on all platforms.

RewardNode documentation says that the reward will fill the "full window" (sic):

    this.canvasDisplayBounds = new Bounds2( 0, 0, 0, 0 );

As the browser window is resized, it does fill the area above/below the screen's layoutBounds, but not the area to the left/right.  Screenshots below.

![screenshot_469](https://cloud.githubusercontent.com/assets

[2015-02-20 22:09] pixelzoom commented on #40
This appear to have been a problem pre-scenery 0.2, since it also occurs in RPAL 1.0.0.

[2015-02-20 22:14] pixelzoom opened #41 "RewardNode debug flag is broken"
Discovered while investigating #40. Reproducible by running RPAL master with `?dev&showReward`.

RewardNodes says:

[code]

Setting `debugFlag = true` causes RewardNode to fail.  Here's the console log:

![screenshot_470](https://cloud.githubusercontent.com/assets/3046552/6310335/0ed091fa-b913-11e4-99c1-6feb032c694a.png)

[2015-02-20 22:19] #41 closed

[2015-02-20 22:33] pixelzoom commented on #22
I don't see RewardsNode options.stepSource being used by any clients. Is this feature really necessary?

[2015-02-20 22:39] pixelzoom commented on #27
Closing this. LevelStartButton no longer exists, it was replaced by LevelSelectionButton, which is built on sun.RectangularPushButton.

[2015-02-20 22:39] #27 closed

[2015-02-23 17:02] samreid commented on #22
If options.stepSource isn't used, then it can be deleted.

[2015-03-25 21:38] pixelzoom commented on #32
@amanda-phet can you still reproduce this on whatever device you were using?

[2015-03-25 22:23] pixelzoom commented on #24
ScoreboardBar and ScoreboardPanel do have stuff in common, but I'm not entirely convinced that it's worth factoring out stuff to be shared.  They have also started to diverge since together support was added to ScoreboardPanel but not ScoreboardBar.

[2015-03-31 19:52] pixelzoom opened #42 "branch: fix-highlight"
I search through issues and didn't see any mention of this branch. Looks like most (all?) of the commits are by @jbphet, so assigning to him.  Please describe this branch, and what the plans are for it.

[2015-04-01 17:25] jbphet commented on #42
This branch was created to fix an issue for Build an Atom 1.1 that couldn't be fixed through referencing the latest Vegas version due to changes in other dependencies.  This branch needs to be retained because the SHA for Vegas that is used in the 1.1 version of BAA is on this branch.

[2015-04-01 18:01] pixelzoom commented on #42
Yikes. For the future, let's try not to publish anything off of non-master branches of common repos.

[2015-04-01 18:07] jbphet commented on #42
This probably won't be a super common scenario as the common code gets more stable, but I don't think we should rule out this approach in cases where a maintenance release is needed and the common code has evolved so much that it's impossible to update one dependency without having to pull in a whole bunch of other new (to the sim) stuff.  Otherwise, it kind of defeats the purpose of a maintenance

[2015-04-02 19:38] pixelzoom commented on #42
Can we rename this branch to build-an-atom-1.1 ?

[2015-04-02 19:56] pixelzoom commented on #42
Notes from 4/2/15 developer meeting:
- Creating a branch in this type of situation is OK, but should be sort of a "last resort".
- Name the branch based on the sim repo and release number that it's serving.
- Create an issue line this one documenting the branch.
- OK to keep this type of branch around indefinitely.

[2015-04-02 23:55] jbphet opened #43 "branch: fix-for-build-an-atom-1.1.1"
This branch contains a fix that was needed for a maintenance release of Build an Atom.  Updating to the latest version of Vegas proved impractical due to changes in its dependencies, thus the need for this branch.  See #42 for a bit more history.

[2015-04-02 23:58] jbphet commented on #42
This branch has been renamed to "fix-for-build-an-atom-1.1.1", see #43 for additional information on this branch.  Closing.

[2015-04-02 23:58] #42 closed

[2015-05-09 18:40] samreid commented on #22
If any other developer is working on game sims, it would be a good time to look into this issue.  I don't expect to have time for this soon, so I'm unassigning the issue.

[2015-05-11 19:23] amanda-phet commented on #32
I was not able to reproduce this when I tried yesterday. I was using an iPad2 running iOS 7.

[2015-05-22 19:53] pixelzoom commented on #32
@ariel-phet This might be worth having student testers evaluate.

[2015-05-22 19:55] pixelzoom commented on #29
Assigning to @ariel-phet.  Either initiate a design discussion about this, or close the issue and live with inconsistency across sims.

[2015-05-22 19:56] pixelzoom commented on #24
Not worth factoring out commonality. Closing.

[2015-05-22 19:56] #24 closed

[2015-05-22 19:57] pixelzoom commented on #4
This is being used in several sims. And the issue has languished so long that I question the necessity of additional proposed features.  So I'm going to close this, and we can create new issues as additional features are requested.

[2015-05-22 19:59] pixelzoom commented on #4
Reopening. The last piece of this is that build-an-atom is not using vegas.RewardNode.  So assigning to @jbphet to handle that.

[2015-05-22 20:56] pixelzoom opened #44 "ScoreboardBar has i18n layout issues"
For example, see the screenshot in https://github.com/phetsims/reactants-products-and-leftovers/issues/35.

[2015-05-26 17:03] pixelzoom commented on #44
Work on this after https://github.com/phetsims/scenery/issues/428 is completed.

[2015-05-26 18:37] pixelzoom commented on #40
Here's the code in RewardNode (line 166) that is supposed to modify the bounds:

[code]

I've verified that it's being called when the browser window is being resized, and I don't see anything obviously wrong with the value of var `local`.  Perhaps there's a problem with supertype CanvasNode?

Assigning to @jonathanolson, would appreciate if he could take a quick peek.

[2015-05-28 03:33] jonathanolson commented on #40
It seems coded to only initialize X values for the initial canvas bounds size, not updating the X distribution. What would the desired behavior be when widening the window? Have additional rewards appear to the sides immediately? Have the rewards expand horizontally to fill?

[2015-05-28 15:39] phet-steele commented on #35
Qualitatively, the sounds were measured at max volume on the iPad 2 Tycho. This is the live version of Fraction Matcher. There was some ambient sounds, so really just the relative differences matter.
Correct sound: 70 dB
Incorrect sound: 71 dB
Cheering: 83 dB

So yes, the cheering is louder.

[2015-05-28 16:31] pixelzoom commented on #40
Ah, I see... The x,y coordinates for the individual reward nodes are set when RewardNode is initialized, but not updated when the screen size changes. And this appear to be working for the y dimension only because y is sampled from  `this.canvasDisplayBounds.height * 2` (line 221).

[2015-05-28 16:35] pixelzoom commented on #40
The sampling of y from `this.canvasDisplayBounds.height * 2` also explains another long-standing issue. When the RewardNode starts, nodes don't appear immediate, because they are starting from 0.25 * this.canvasDisplayBounds.height above the top of the browser window.

[2015-05-28 18:02] pixelzoom commented on #32
This was tested in https://github.com/phetsims/tasks/issues/255, no problems found. Closing.

[2015-05-28 18:02] #32 closed

[2015-05-28 19:32] pixelzoom commented on #40
Fixed in above commit, a 1-liner.  Closing since this was a trivial fix.

[2015-05-28 19:32] #40 closed

[2015-06-25 16:49] #44 closed

[2015-07-06 22:55] jbphet commented on #35
I've normalized all of the game sound effects to have a peak of 0 dB using the "Normalize..." effect in Audacity.  This sounds more even to my ear, assigning to @phet-steele to verify.

[2015-07-06 22:56] jbphet commented on #35
Actually, I believe @phet-steele is out for a while, so I'm assigning to @ariel-phet to determine who should verify.

[2015-07-09 19:02] jbphet commented on #35
@ariel-phet says he trusts my judgement.  Closing.

[2015-07-09 19:02] #35 closed

[2015-07-13 23:13] pixelzoom opened #45 "package.json is missing simTitleStringKey, vegas demo won't build"
[code]

[2015-07-13 23:32] #45 closed

[2015-07-14 23:38] ariel-phet commented on #29
I am going to make this a status meeting agenda item, might be good to have consistency for redeploy

[2015-07-15 00:57] pixelzoom commented on #29
May I be excused? :(

Or should I say, may I be excused? :/

:)

[2015-07-15 01:11] pixelzoom commented on #29
One more push-back against the 'grimace' face and I'll shut up.

(1) I don't believe the initial premise, that the frowny face is "too judgmental or harsh". The "text message" generation has a hard time dealing with seeing a frowny face on the screen? I doubt it. What is the evidence?

(2) PhET sims are universal; grimace face is not.  There is nothing like the grimace face in the Emoji standard,

[2015-07-15 01:47] ariel-phet commented on #29
Not going to argue with (1)...as to number (2)

:confused:

and

http://emojipedia.org/confused-face/

Sorry Chris, I do think this does exist in the Emoji standard...

[2015-07-15 02:00] pixelzoom commented on #29
I would be fine with either of those Emoji faces, they are expressive.  The grimace face is just bad. To refresh your memory:

![grimace](https://cloud.githubusercontent.com/assets/3046552/8689290/e933c252-2a62-11e5-9883-0e8cc5b4ba4c.png)

[2015-07-15 02:01] pixelzoom commented on #29
I would be fine with either of those Emoji faces, they are expressive.  And they are not the same as the grimace face. The grimace face is just bad, straight diagonal line. To refresh your memory:

![grimace](https://cloud.githubusercontent.com/assets/3046552/8689290/e933c252-2a62-11e5-9883-0e8cc5b4ba4c.png)

[2015-07-15 02:09] ariel-phet commented on #29
@pixelzoom mind taking a crack at a PhET version of one of those Emoji faces?

[2015-07-15 16:16] pixelzoom commented on #29
@ariel-phet Is it a given that the frowny face will be replaced? If not, I'd rather not spend my nonexistent spare time on this.

[2015-07-15 16:31] ariel-phet commented on #29
@pixelzoom - I was thinking that if it were a simple exercise to draw something up, it might be a nice compromise. But if not, we can just show the confused emoji and suggest something like that as the standard. I see the problems with our current "grimace" face, and certainly, the frowny face is a better design than that.

[2015-07-16 17:16] pixelzoom commented on #29
7/16/15 status meeting:  Until we have evidence that there's a problem with the frowny face, we'll standardize on frowny face.  Consistency is important across sims.

TODO:
- [ ] in FaceNode, delete options.grimaceMouth and {function} grimace
- [ ] change sims that use options.grimaceMouth and {function} grimace

[2015-07-16 17:20] pixelzoom commented on #29
Done, closing.

[2015-07-16 17:20] #29 closed

[2015-07-16 17:21] pixelzoom commented on #29
@jbphet Mentioning you so that you're aware of the decisions that were made, since your sims were the sole clients of the grimace face.

[2015-07-23 23:08] jbphet commented on #29
Thanks, duly noted.

[2015-08-31 19:23] pixelzoom opened #46 "add visibility annotations"
Add a @public, @protected or @private annotation to anything that's publicly visible.
See https://github.com/phetsims/tasks/issues/307.

[2015-11-13 23:00] jbphet commented on #46
done, closing

[2015-11-13 23:00] #46 closed

[2015-11-16 04:24] pixelzoom opened #47 "add namespace"
See https://github.com/phetsims/tasks/issues/378

[2015-11-16 04:50] #47 closed

[2016-01-05 00:48] pixelzoom commented on #4
Closing.  Using this in build-an-atom is tracked in phetsims/build-an-atom#101.

[2016-01-05 00:48] #4 closed

[2016-01-20 00:49] samreid opened #48 "instrument the "continue" button at the end of a game"
From phetsims/build-an-atom#107, we need to instrument the continue button at the end of a game.

[2016-02-17 20:55] samreid commented on #48
Fixed, closing.

[2016-02-17 20:55] #48 closed

[2016-03-17 19:40] samreid opened #49 "Add a "title" option to LevelSelectionButton, so that icons can scale independently"
In https://github.com/phetsims/fraction-matcher/issues/89 we discovered that long titles shrink the pictoral icons, at today's developer meeting we decided to add a "title" option to LevelSelectionButton instead of combining it into the scaled icon.

@ariel-phet said "priority low, to be revisited after all redeploys"

[2016-03-17 19:40] samreid commented on #49
We will also have to find all of the sims that this impacts.

[2016-04-01 23:07] jbphet opened #50 "de-jerkify reward node"
The reward node doesn't run very smoothly sometimes - items will fall for a bit, then pause, then resume.  This was logged as in issue against Build an Atom, but is really an issue with this piece of common code, see https://github.com/phetsims/build-an-atom/issues/66.  On my development machine, the problem is particularly noticeable on Firefox.

[2016-04-01 23:07] jbphet commented on #50
Assigning to @ariel-phet to prioritize and assign.

[2016-04-02 00:22] ariel-phet commented on #50
@andrewadare I am going to assign this to you for now. No action is necessarily currently, however, once you have paired with @jonathanolson on Gravity and Orbits lets revisit this issue, it might be a nice one for you to do some more learning about optimizing performance and working with common code.

[2016-04-06 00:24] pixelzoom opened #51 "displaying score and best time"
@ariel-phet requested that this be relocated from https://github.com/phetsims/balancing-act/issues/63.

Things to discuss:

(1) Do all games need to behave the same wrt score ~~and best time~~?
(2) Should 'best score' or 'last score' be shown on the level selection screen?
~~(3) When should best time be shown on the level selection screen?~~
~~(4) Should we show best time in the scoreboard, next t

[2016-04-06 21:29] jbphet opened #52 "reward node had no dispose function, leaks memory"
While inspecting code changes for https://github.com/phetsims/build-an-atom/issues/101, I noticed that no dispose function was being called on ```BAARewardNode```, which is a sub-type of the common code type ```RewardNode```.  I did some testing and found that reward nodes are not being garbage collected, see the screenshot of a heap profile below.  In this profile, I'd gotten the reward node thre

[2016-04-06 21:31] jbphet commented on #52
Assigning to @samreid to start with, since he is listed as the author of ```RewardNode```.  @samreid - I know you've got a lot on your plate at the moment, so feel free to delegate this to @aadish if you like.  @aadish and I have been working on plugging memory leaks, so he's probably in a good position to do the work if needed.

[2016-04-07 11:41] samreid commented on #52
@aadish can you please try the following?

1. Add a `dispose` function to RewardNode
2. The dispose function should unlink all of the listeners.  I see 3 added, one in the constructor and one in init.
3. Call dispose from the appropriate site

If this does not resolve the problem, please commit and reassign to me.

[2016-04-07 18:24] jbphet commented on #52
Note that the 3rd item in @samreid's list above may need to be done in *all* simulations where RewardNode is used.

[2016-04-07 20:47] pixelzoom commented on #51
4/7/16 dev meeting  decisions:

Yes.

Last score.

When timer is on and you have a perfect score, should the best time for any perfect score.

No.

[2016-04-19 16:04] aadish commented on #52
added the dispose function for rewardNode and called its dispose function in the simulations using it.
Profiles on all these simulations and the reward node is not retained
@jbphet can you please review this and assign me back for any changes

[2016-04-19 17:39] jbphet commented on #52
I just tested this on the current master, and it doesn't seem to be working.  I ran using the 'reward' flag on Build an Atom, and when I got the the screen where the reward node was showing and then pressed the "Continue" button on the dialog, it hit an assertion that said, "Assertion failed: Node.off was called but no listener was removed".  This came from the attempt to unhook the resize listene

[2016-04-19 21:32] jbphet commented on #52
@aadish said that this was fixed this morn, and after pulling the problem is no longer happening.

I reviewed the commits, and they look good.  I tested on Build and Atom and Reactants, Products, and Leftovers by getting a reward node, taking a heap snapshot, seeing that there was one instance of the node (it's a subclass for both of these sims), then continuing back to the level selection screen,

[2016-04-19 21:32] #52 closed

[2016-06-03 18:45] samreid commented on #49
Redeploys are complete, I'll remove the low-priority label.

[2016-06-05 01:08] samreid commented on #49
Before starting work on this, I thought I'd check in with @ariel-phet to see if I'm the right person for this job.  It will involve an hour or so of work on vegas and then about an hour each to update the icons for the following sims:

- [ ] Area Builder @jbphet
- [ ] Arithmetic @jbphet
- [ ] Balancing Chemical Equations @pixelzoom
- [ ] Build an Atom @jbphet
- [ ] Fraction Matcher @samreid
- [ ]

[2016-06-05 16:46] pixelzoom commented on #49
As an alternative than pushing this responsibility into LevelSelectionButton, and having to do all this work... You could just set `maxWidth` of the text so that it doesn't exceed the icon width, thus preventing the icon from scaling.

In fraction-matcher.LevelSelectionButtonsAndTitleNode, rewrite `createButtonContent` like this, were `maxWidth` of the Text node is the important change:

[code]

S

[2016-06-05 16:51] pixelzoom commented on #49
If you do add a "title" option to LevelSelectionButton, recommended *not* to add `{string} title` and create a scenery.Text internally.  That approach has several drawbacks/limitations:

(1) You'll need to add a bunch of other options (either now or later) that pertain to the scenery.Text that is created.
(2) You won't be able to use other types of text nodes, like SubSupText, MultiLineText, etc.

[2016-06-05 16:58] pixelzoom commented on #49
Using the approach in https://github.com/phetsims/vegas/issues/49#issuecomment-223823454, it would take me less than 30 minutes to address this issue in the 3 sims that I'm responsible for (BCE, Graphing Lines, RPAL).

[2016-06-05 17:11] pixelzoom commented on #49
Addressed for my sims in 13 minutes :)

[2016-06-05 23:33] ariel-phet commented on #49
@pixelzoom if the mood strikes you, feel free to take care of the other sims in this list. If not, please assign to @jbphet since it looks like he has the bulk of the remainder

[2016-06-05 23:34] ariel-phet commented on #49
And thanks for finding an alternative!

[2016-06-06 14:16] samreid commented on #49
Yes, nice suggestion @pixelzoom, thanks!

[2016-06-06 16:01] pixelzoom commented on #49
making-tens turned into a wild goose chase. It has its own copy of LevelSelectionButton, as reported in https://github.com/phetsims/making-tens/issues/225.  And it was not straightforward to find where the icons were created. When I did find them, I discovered that they don't have text labels (!) so there was nothing to do.  Altogether, this no-op took me more time than fixing all 3 of my sims.

[2016-06-06 16:04] pixelzoom commented on #49
area-builder was a similar (but shorter) wild goose chase - no text labels on the buttons in this sim.   So I guess the list of sims that @samreid provided in https://github.com/phetsims/vegas/issues/49#issuecomment-223787138 must be all sims that use LevelSelectionButton, not all sims actually need their icons fixed.

[2016-06-06 16:05] pixelzoom commented on #49
arithmetic has no labels on LevelSelectionButtons, nothing to do.

[2016-06-06 16:06] samreid commented on #49
Correct.

[2016-06-06 16:07] pixelzoom commented on #49
build-an-atom has no titles on LevelSelectionButtons, nothing to do.

[2016-06-06 16:08] pixelzoom commented on #49
Done. The only sims that actually had titled were my 3 and fraction-matcher.

Closing.

[2016-06-06 16:08] #49 closed

[2016-08-25 23:45] pixelzoom opened #53 "sim relies on align:'right' default for Panels"
Related to https://github.com/phetsims/sun/issues/252, this sim relies on the old default of `align:'right'` for Panels.  Below are the stack traces for occurrences that need to be checked. These are the occurrences noted when loading the sim in requirejs mode. If the sim creates Panels dynamically, you should do further checking with fuzzMouse.

[code]

[2016-08-25 23:56] pixelzoom commented on #53
Default value change does not affect this runnable. Closing.

[2016-08-25 23:56] #53 closed

[2016-11-03 17:10] pixelzoom opened #54 "GameTimer: move static function into inherit"
GameTimer currently looks like this:

[code]

`GameTimer.formatTime` should be moved into the `inherit` call, like this:

[code]

[2016-11-03 17:17] #54 closed

[2016-11-03 17:19] pixelzoom commented on #54
Tested in area-builder and arithmetic. Closed.

[2016-12-08 18:57] mattpen commented on #50
@jonathanolson will work on this as part of make-a-ten

[2016-12-12 22:50] jonathanolson commented on #50
I'm not able to reproduce this jerkiness on Win10/Firefox at home. @ariel-phet, the only place I've seen it slow is on @jbphet's desktop with Firefox. Should we look into testing other devices, or should I pair with @jbphet when he has time?

[2016-12-13 04:30] ariel-phet commented on #50
@jonathanolson can you make a new dev version and reassign me once it is published? I feel like I may have seen this on iPad2

[2016-12-13 05:52] jonathanolson commented on #50
http://www.colorado.edu/physics/phet/dev/html/make-a-ten/1.0.0-dev.12/make-a-ten_en.html, "solve" the first level 10 times.

[2016-12-13 18:12] ariel-phet commented on #50
@jonathanolson this can be pretty easily reproduced on iPad2 iOS 9.3.5. Basically looks like some GC (though it may be something different).

On Thursday perhaps borrow an iPad2 to take a look? I think if the reward node rendered less objects or moved a bit more slowly it would be fine (if those tweaks help).

Also, we have never received a complaint about this behavior, it is definitely more in t

[2017-01-11 20:18] phet-steele opened #55 "RewardNode out-of-phase paint bug"
This title is tentative pending investigation by @jonathanolson 😄

I'm inclined to say I only see this problem in FF, not Chrome or Safari. Upon initializing the RewardNode, resizing the browser window will cause most of the sim's display to freeze. The sim is still somewhat usable, however. This also does not seem to be a problem in built versions, as I can only repro on phettest with requirejs (

[2017-01-11 20:37] jonathanolson commented on #55
Some crazy execution order things happening, might be related to https://bugs.jquery.com/ticket/13376

[2017-01-11 20:38] jonathanolson commented on #55
https://bugzilla.mozilla.org/show_bug.cgi?id=840412 is the Firefox bug that is presumably triggering this.

[2017-01-11 21:01] jonathanolson commented on #55
Call stack before workaround:
![firefox-resize](https://cloud.githubusercontent.com/assets/480878/21866193/63bbc4b4-d806-11e6-9b9b-06c45dec2585.PNG)

Added deferred handling of resizes to work around this.

[2017-01-11 21:01] jonathanolson commented on #55
@samreid, do you mind reviewing my patch above (as I believe you're the most familiar with the changed code)?

[2017-01-11 21:46] samreid commented on #55
I would like more time to understand the root of the problem, but I noticed that resizePending is initialized to true and there is a resize during startup here:

[code]
the effect is that there are 2 resize calls during startup.  @jonathanolson which one do you recommend we keep?

[2017-01-11 21:54] jonathanolson commented on #55
Bah, I was originally thinking of making the ```resizePending = false``` inside resizeToWindow(). Thoughts on that?

[2017-01-11 21:58] samreid commented on #55
Yes, that sounds good.

[2017-01-11 22:00] jonathanolson commented on #55
Fixed.

[2017-01-13 19:22] jonathanolson commented on #50
The Canvas code is quite optimized here, I really don't see low-hanging fruit.

It is possible that implementing it as a WebGLNode or using images with the WebGL renderer could have a performance improvement.

@ariel-phet, thoughts on priority for that?

[2017-01-13 19:48] samreid commented on #55
I discussed this problem with @jonathanolson and he said scenery cannot accommodate a change in display size during its update phase. When the fill on the canvas is set, Firefox dispatches a synchronous resizing event which is causing the problem.  The solution proposed by @jonathanolson in Joist seems appropriate and I cannot think of any problems it will cause.  Closing.

[2017-01-13 19:48] #55 closed

[2017-01-13 19:49] samreid commented on #55
That is to say, the code seems like an appropriate solution, and we should await cross-platform testing during the first RC cycle to determine whether there are any unexpected/unintended practical ramifications from this workaround.

[2017-01-14 00:10] ariel-phet commented on #50
@jonathanolson considering that on most platforms performance is good, I am just going to close this issue, it is not worth the time investment to experiment with WebGLNode or such.

[2017-01-14 00:10] #50 closed

[2017-02-06 17:27] samreid opened #56 "LevelSelectionButton should extend RectangularPushButton instead of containing one"
While @zepumph and I were working on https://github.com/phetsims/phet-io/issues/926 we noticed that LevelSelectionButton contains a RectangularPushButton instead of extending it.  This will lead to an incorrect phet-io API where "a button contains another button".  This should be fixed.

@jbphet any ideas why it was done this way?  Do you anticipate any problems if we switch to inheritance?

[2017-02-06 19:04] jbphet commented on #56
It was done as composition instead of inheritance because it optionally includes an additional node that exists outside the bounds of the button (below it, to be specific) that depicts the best time.

[2017-02-07 05:32] samreid commented on #56
I wonder if there is a better name for this than `LevelSelectionButton` because it isn't a button?

[2017-02-07 16:43] jbphet commented on #56
LevelSelectionThingie :)  ?

We could just go with LevelSelector.  Short, sweet, clear.

[2017-04-05 17:46] pixelzoom opened #57 "GameTimer doesn't increment elapsed time"
This is a bug that was introduced during the conversion from PropertySet to Property in https://github.com/phetsims/vegas/commit/6660bbb0c4c0bd9e942c2630eea48ffe1d7dd2e2 on 11/3/2016.  It was noticed by @phet-steele in https://github.com/phetsims/graphing-slope-intercept/issues/12#event-1030792871 and affects all sims that use GameTimer, including:

area-builder
arithmetic
balancing-chemical-equat

[2017-04-05 17:59] pixelzoom commented on #57
Conversion of both `elapsedTimeProperty` and `isRunningProperty` were handled incorrectly.  Client code in the above sims that still reference `elapsedTime` and `isRunning` will need to be fixed.

@jbphet I'll be making changes to 2 of your sims: arithmetic and area-builder.  If you've published either of these sims since 11/3/2016, they may contain this bug.

[2017-04-05 18:02] phet-steele commented on #57
@pixelzoom I'm not actually seeing this problem in area-builder. I do see the problem everywhere else you mentioned.

[2017-04-05 18:03] pixelzoom commented on #57
area-builder doesn't seem to show time anywhere in the user interface. But it's definitely a problem in the code.

[2017-04-05 18:05] phet-steele commented on #57
<img width="1442" alt="screen shot 2017-04-05 at 12 04 08 pm" src="https://cloud.githubusercontent.com/assets/5863899/24719735/10c42844-19f8-11e7-9fc3-06dca000e768.png">

[2017-04-05 18:07] pixelzoom commented on #57
Ah, sorry, I hadn't turned the clock on when testing area-builder.    Area Builder is very odd.  It uses GameTimer, but QuizGameModel is a PropertySet with its own `elapsedTime` Property.

[2017-04-05 18:07] pixelzoom commented on #57
Ah, sorry, I hadn't turned the clock on when testing area-builder. Area Builder is very odd. It uses GameTimer, but QuizGameModel is a PropertySet with its own elapsedTime Property. (@jbphet)

[2017-04-05 18:08] pixelzoom commented on #57
The good news is that none of these sims appears to have been published with this bug.

[2017-04-05 18:34] pixelzoom commented on #57
I reviewed arithmetic with @jbphet.  Running with `?autoAnswer` allowed me to get to the "game completed" screen to verify that the time looks correct.

[2017-04-05 18:36] pixelzoom commented on #57
@phet-steele could do a quick verification of these sims in master? Thanks.

- [ ] arithmetic
- [ ] balancing-chemical-equations
- [ ] graphing-lines
- [ ] graphing-slope-intercept
- [ ] reactants-products-and-leftovers

[2017-04-07 18:22] phet-steele commented on #57
Verified!

[2017-04-07 18:22] #57 closed

[2017-07-25 18:54] samreid opened #58 "RewardNode should support Emitter"
Discovered in phetsims/axon#102 RewardNode uses an Events argument for driving the animation. PropertySet extends Events but will no longer be used, and Events is deprecated. RewardNode should support Emitter.

[2017-07-25 18:55] samreid commented on #58
I added support in https://github.com/phetsims/vegas/commit/7a585d97cacca47bbd6d751c15ef9a2a72081578 . Hopefully this won't disturb existing usages of RewardNode, but it should reviewed.  @jbphet @jonathanolson @pixelzoom @jessegreenberg can you please review the changes?

[2017-07-26 17:40] pixelzoom commented on #58
So now we have support for both Events (stepSource) and Emitter (stepEmitter).  Rather than _adding_ Emitter, why not replace Events with Emitter?  I see only 1 usage of stepSource, in fraction-matcher.

[2017-07-26 17:49] samreid commented on #58
Thanks, you are right--it looks like stepSource can be removed now.

[2017-08-01 04:59] samreid commented on #58
I removed stepSource and confirmed Fraction Matcher still animates the reward.  @pixelzoom would you like to review at your convenience?

[2017-08-05 04:19] samreid commented on #56
Not sure if it is a best practice, but it would be possible to `addChild` on a `RectangularPushButton`.  But I'm not sure if `RectangularPushButton` needs to control its child list (say if it ever sets this.children = [...]).

But I'm also fine to rename this LevelSelector or LevelSelectionNode.  @jonathanolson can you please advise how to proceed for this issue, then reassign to me?

[2017-08-07 16:05] jonathanolson commented on #56
Composition sounds preferred, presumably phet-io would want to handle this.

RectanglarPushButton should have permission to control its own children (as most view components would, in my opinion), so inheritance would be tricky to maintain.

[2017-08-07 16:20] samreid commented on #56
@jonathanolson also said:

[2017-08-07 16:31] samreid commented on #56
I found there are already 3 other things called LevelSelectionNode, which show many buttons for selecting levels.

[2017-08-07 16:39] samreid commented on #56
I renamed as described above.  @jbphet anything else to do here?

[2017-08-07 19:09] jbphet commented on #56
I'm not too keen on the "Item" portion - it seems gratuitous, though I understand that it is an attempt to avoid overlap with other nodes.  How about `LevelSelectorNode`?  Also, two of the existing instances of LevelSelectionNode are in sims that I'm responsible for.  I'd be happy to change them to more specific names in order to avoid overlap if that works better.

Also, the header comment could

[2017-08-08 14:12] samreid commented on #56
`LevelSelectorNode` and `LevelSelectionNode` suggest to me that they allow you to select any level, not just one particular level.  What about one of the following:
`LevelOverviewNode`
`LevelIcon`
`LevelIconNode`
`LevelSelectionIcon`

[2017-08-08 17:14] jbphet commented on #56
I think we have bigger fish to fry and this isn't worth more discussion.  I can live with `LevelSelectionItemNode`.  "A rose by any other name...".  Closing.

[2017-08-09 19:28] #58 closed

[2018-02-06 21:58] pixelzoom opened #59 "reusable components for new games"
Over in https://github.com/phetsims/make-a-ten/issues/279, we noted that several newer sims (Equality Explorer, Make A Ten, Area Model, ... others?) have deviated from past game designs.  This is likely due to the need for other types of games, as well as better ways of designing games in general.  Equality Explorer's game (for example) is “less formal”, more open-ended, and operates differently t

[2018-02-06 23:04] amanda-phet commented on #59
(1) **Reusable designs**
*Make a Ten, Area Model, and Equality Explorer*
- Status bar: with back button, Level, level description/instructions, and star accumulation; no clock (but in Area Model there certainly could be one, but definitely not an option for Make a Ten or Equality Explorer)
- Back button saves progress of level, as opposed to "start over" button that resets level. I believe the bac

[2018-02-06 23:09] amanda-phet commented on #59
I wouldn't have included Area Model in the discussion because the game model is much like all other PhET games, but the status bar does break from convention a bit because it doesn't use a start over button and it displays the score in terms of stars instead of points. I can see continuing to use that score representation, especially for younger users, but that is not the same as the score display

[2018-02-06 23:14] pixelzoom commented on #59
The "status bars" in Make A Ten, Area Model and Equality Explorer all have significant differences, see below.  Are you proposing to somehow unify/standardize them?

Make A Ten, from master:
![screenshot_485](https://user-images.githubusercontent.com/3046552/35889254-0bba00e2-0b58-11e8-8c0a-6118b9b85c0e.png)

Area Model, from https://docs.google.com/document/d/1JDBiPZy79fbedoCfM56dfcqR5KdLwHOo1F6q

[2018-02-06 23:16] amanda-phet commented on #59
I wasn't proposing anything (yet), just identifying what the games have in common.

Area Model looks like this in the latest dev version:
![screen shot 2018-02-06 at 4 15 59 pm](https://user-images.githubusercontent.com/7852916/35889491-069b2464-0b59-11e8-968a-6bbfc6f09bc4.png)

[2018-02-07 18:37] samreid commented on #59
In the preceding status bar "3 of 6" seems unclear, may be better to specify "problem 3 of 6" or "challenge 3 of 6" so it doesn't get confused with level, score or something else.

[2018-02-08 21:38] pixelzoom commented on #59
2 reusable UI components:

(1) "status bar" - Back button, arbitrary text to the left of back button, score on right end of button
(2) "score" - display 3 ways: discrete stars for finite number of challenges, # + star for open end, or "Score: {number}"
(3) modify existing LevelSectionButton to display stars as "# star" for games that don't have finite number of challenges.

I'll be doing the vegas

[2018-02-10 00:02] pixelzoom commented on #59
If this is assigned to @andrea-phet, I’ll collaborate on it with her.

[2018-02-10 00:36] pixelzoom commented on #59
Further specification of "score display":

From https://github.com/phetsims/vegas/issues/59#issuecomment-364256834:

(a) discrete stars, e.g. "⭐️ ⭐️ ⭐️". For use with finite number of challenges.
(b) "{number} ⭐️", e.g. "3 ⭐️". For use with finite or infinite number of challenges. Score of zero is displayed as a grayed out star, not "0 ⭐️"
(c) "Score: {number}", e.g. "Score: 3". For use with finit

[2018-02-10 00:43] pixelzoom commented on #59
Further specification of "status bar".

From https://github.com/phetsims/vegas/issues/59#issuecomment-364256834:

• Back button is SCENERY_PHET/BackButton
• Node to right of the back button is supplied by the client. Typically text, but could be any Node. All aspects of this Node are responsibility of the client.
• Score is displayed using one of the "score display" options shown in https://github

[2018-02-10 00:56] pixelzoom commented on #59
Further specification of "level section button".

From https://github.com/phetsims/vegas/issues/59#issuecomment-364256834:

Take the existing LevelSectionItemNode and modify it to use "score display" (described in https://github.com/phetsims/vegas/issues/59#issuecomment-364608714).  _We'll probably only need options (a) and (b) for "score display", but might as well also support option (c)_.   Kee

[2018-02-12 20:00] amanda-phet commented on #59
(a) and (c). (b) should only ever be an integer number of stars.

Likely just 0.5, but I'm not sure if you are also wondering about stars. In the case of Arithmetic the points are integers, but the stars are fractional. I think a point is 1/36th up to 1/144th of a star.

(b) should not have a fraction. (c) should be left to the designer. Right now we don't have a game with fractional points (I thi

[2018-02-12 20:14] pixelzoom commented on #59
@amanda-phet said:

I believe that's correct.  In some games (e.g. BCE) we award 2 points for a correct answer on the first they, 1 point for a correct answer on the second try.  So a perfect score is 2 * numberOfChallenges.

Correct. I've added that to https://github.com/phetsims/vegas/issues/59#issuecomment-364608714.

[2018-02-12 20:18] arouinfar commented on #59
Thanks @amanda-phet! Your recommendations all sound reasonable to me. I haven't designed a game, so comparably, you're definitely the expert. 😄

[2018-02-14 22:04] amanda-phet commented on #59
Would it make sense to include a "refresh" button in the status bar as an option? It seems like many games have something like this. It could also just be specific to the sim if it doesn't work in the bar.

[2018-02-26 23:46] pixelzoom commented on #59
@amanda-phet In all of the examples I've seen so far, the designer have chose to put the Refresh button with the challenge, and not in the status bar.  But if you want that flexibility, please revise the specification and mockups in https://github.com/phetsims/vegas/issues/59#issuecomment-364609537 asap.

[2018-02-27 00:15] pixelzoom commented on #59
Another component that we need to generalize and move from make-a-ten to vegas.  This screen appears when you reach 10 stars in make-a-ten:

![35772361-f1bf4a9a-08f9-11e8-8d80-c673409ae418](https://user-images.githubusercontent.com/3046552/36703282-31421280-1b18-11e8-903b-ace4369f8e85.png)

Need an option to specify which "score display" to use. ("Discrete stars" display may not make sense here. W

[2018-02-27 00:33] pixelzoom commented on #59
@andrea-phet and I had a Zoom call to go over the requirements.  I recommended doing things in this order: Score Display, Status Bar, PhET Girl Panel, Level Selection Buttons.

@andrea-phet If you want to see how this will be eventually used in Equality Explorer, see https://github.com/phetsims/equality-explorer/issues/34 and [the design document](https://docs.google.com/document/d/1xu9nawWcndFqgg

[2018-02-27 00:39] pixelzoom commented on #59
Self-assigning because I'll be involved in this and don't want to have to keep searching for the issue.

[2018-02-27 21:42] amanda-phet commented on #59
I discussed it (I think with Kathy) and don't think we should have that option. I originally brought it up just to consider all possibilities! But I don't think it's a good place for a refresh button so we shouldn't include it at this time.

[2018-02-27 21:46] pixelzoom commented on #59
@amanda-phet see also the question for you in https://github.com/phetsims/vegas/issues/59#issuecomment-368698634.

[2018-02-27 21:56] amanda-phet commented on #59
Correct. This dialog is only relevant in games where you have an infinite number of challenges, so we should only be choosing between score displays (b) and (c).

[2018-03-06 00:15] jbphet opened #60 "branch: test-ogg-file-removal"
This branch will be used to test the removal of .ogg files without creating instability on master, see https://github.com/phetsims/vibe/issues/19.

[2018-03-08 18:23] pixelzoom commented on #59
@andrea-phet asked if I could take a look at her work on the score display.

Overall it's looking really good, and is nicely integrated into the vegas demo application (VegasScreenView).   Here are some specific suggestions for improvement. Let me know if you have questions or need clarification.

## ScoreDisplayNumber.js

- [ ] Consider naming this type `ScoreDisplayNumberAndStar`, for consistenc

[2018-03-20 20:08] jbphet commented on #60
The testing was successful, the branch has been merged to master and deleted.  Closing.

[2018-03-25 21:10] pixelzoom commented on #59
@andrea-phet and I pair programmed on the "PhET Girl Panel" (RewardDialog.js) on Friday 3/25.  We also reviewed her progress on the various "score displays" and the status bar.  It's all looking good.

[2018-03-27 17:47] andrea-phet commented on #59
@pixelzoom could you review my work in `LevelSelectionItemNode.js`?

My next step would be to move the constructor parameters 'numStars' and 'perfectScore' into options, but that would also entail changing code in other sims.

[2018-03-27 23:04] pixelzoom commented on #59
Comments on LevelSelectionItemNode …

Generally looking good.

Rather than have option `scoreDisplayType`, I think we should do what we did in StatusBar.  That is, have a `{Node} scoreDisplay` parameter in the constructor.

I also think that we should move `fireFunction` to `options.listener`, to be more consistent with sun and other button APIs.

So `LevelSelectionItemNode` constructor becomes:

[2018-03-30 17:40] pixelzoom commented on #59
@andrea-phet FYI... In the previous commit, I:

(1) renamed reward-dialog-phet-girl.png to phet-girl-juggling-stars.png
(2) located and checked in phet-girl-juggling-stars.ai
(3) fixed the license.json entry, which was incorrect in make-a-ten and got copied to vegas
(4) started using phet-girl-juggling-stars.png in Equality Explorer

[2018-04-02 21:36] andrea-phet commented on #59
@pixelzoom, the changes to the API for LevelSelectionItemNode have been made. Does this issue have anything else?

[2018-04-02 21:41] pixelzoom commented on #59
Thanks @andrea-phet.  I think you'd hit all of the UI components covered by this issue.  I'll have a look at LevelSelectionItemNode and let you know if I have any suggestions.

[2018-04-03 23:26] pixelzoom commented on #59
A couple of issues that I noticed while integrating with Equality Explorer:

- [ ] If you use one of the `LevelSelectionItemNode` factory functions, then you can't properly dispose of the score display that is created.   You don't have a handle to it, and the `LevelSelectionItemNode` technically owns it.  I'll have to think about how to resolve this.

- [ ] The right margin on the status bar seems

[2018-04-03 23:50] pixelzoom commented on #59
Here's another issue....

- [ ] When the score changes in LevelSelectionItemNode, it doesn't stay centered.  See screenshot below from Equality Explorer.

![screenshot_543](https://user-images.githubusercontent.com/3046552/38281365-8a88a41a-3767-11e8-8a82-04db82ecb5e5.png)

[2018-04-03 23:53] pixelzoom commented on #59
This wasn't specified in the requirements. We should check the behavior or Make A Ten, or ask @amanda-phet.

- [ ] Is there supposed to be a sound associated with showing the RewardDialog?  Does it need to be controlled via soundProperty?

[2018-04-04 15:48] phet-steele opened #61 "Error: Assertion failed: callback should be a function"
Changes were made by @pixelzoom and @andrea-phet recently, assigning to them.

[code]

[2018-04-04 19:46] amanda-phet commented on #59
We didn't use a sound in Make a Ten. I don't think it's necessary because they didn't really achieve anything, they simply reached a sizeable number and we are encouraging them to move on to another level.

[2018-04-04 21:40] pixelzoom commented on #61
Undoubtedly related to the change I made in https://github.com/phetsims/vegas/commit/c56e4ffb1756f31c6498a6ee99b703445fd9dd3b.  I'll have a look.

[2018-04-04 21:58] pixelzoom commented on #61
I changed the demo (VegasScreenView.js) to call `dispose` on RewardDialog.  And given the number of issues related to Dialog in joist, I suspect that this is exposing/exercising a latent bug with disposing of Dialogs.

[2018-04-05 02:52] pixelzoom commented on #61
This is failing at line 224 in Dialog.js:

[code]

[2018-04-05 03:26] pixelzoom commented on #61
Here's the bug in Dialog:

[code]

Then in `disposeDialog`:

[code]

So if your Dialog has `title:null` and `dispose:true` (which is the default!) then `dispose` will crash.

Nice.

[2018-04-05 03:39] pixelzoom commented on #61
Looks like this bug was introduced with these commits: https://github.com/phetsims/joist/commit/7eeedad836650e14dca73893be0910a49436922c, https://github.com/phetsims/joist/commit/f5d8a60dce60cc5c10e21be6aaccdbfb9f7f70d0.

[2018-04-05 03:52] pixelzoom commented on #61
I verified that this works in vegas demo and Equality Explorer.  Since no one else appears to be calling Dialog.dispose directly, and since Dialog is such a mess, I'm just going to close this without having anyone else review it.

[2018-04-05 03:52] #61 closed

[2018-04-05 04:04] pixelzoom commented on #59
Another issue that occurred to me while integrating with Equality Explorer...

- [ ] For StatusBar, the client may change `messageNode` after constructing StatusBar.  So we should probably listen for bounds changes, to keep `messageNode` in its proper location in the StatusBar.

[2018-04-05 04:24] pixelzoom opened #62 "how to dispose of something that is created by a factory method?"
This problem was encountered in https://github.com/phetsims/vegas/issues/59#issuecomment-378430997 ...

`LevelSelectioNode` constructor looks like this:

[code]

In general, `scoreDisplay` can be any `Node`, and the client is responsible for managing that Node.

There are 3 common types of `scoreDisplay`, so (as a convenience) `LevelSelectioNode` has static factory methods for creating a `LevelSel

[2018-04-05 11:13] jonathanolson commented on #62
I'm fine with adding that, since having LevelSelectionItemNode dispose the scoreDisplay directly isn't great (since it could be a reused node).

I'm not personally a fan (at least if it forces another file), but you could turn the factor method into its own subtype with an inherit call (override dispose). Small inline types wouldn't be the worst thing if it solves this type of problem.

[2018-04-05 13:59] pixelzoom commented on #59
Another issue:

Because RewardDialog is a Dialog, it dims the background when displayed.  This makes it problematic  to show the reward animation that appears in Make A Ten, and has been requested fro Equality Explorer.  There's currently no way to disable dimming.  Our options are:

(1) **Drop the reward animation*
Drop the requirement for the reward animation that appears behind the RewardDialog

[2018-04-05 15:33] jessegreenberg commented on #62
Could `LevelSelectionItemNode` directly dispose of `scoreDisplay` if that function has been implemented?

[code]

[2018-04-05 15:40] pixelzoom commented on #62
No, because `scoreDisplay` is created by the client, and may be reused by the client.  In general, if you didn't create it, you don't dispose of it.

[2018-04-05 16:01] pixelzoom commented on #62
@jonathanolson suggested:

I'd rather not monkey with adding `disposeEmitter`. So perhaps I'll investigate inline types, if there's agreement that that is a good general solution.

[2018-04-05 16:52] pixelzoom commented on #59
@andrea-phet I reviewed how you addressed the layout of scoreDisplay in StatusBar and LevelSelectionItemNode.  It works, but there's a cleaner way.  See the above 2 commits.  The approach is to add a bounds listener, e.g. `scoreDisplay.on( 'bounds', function() {...} )`.  Let me know if you have questions.

[2018-04-05 18:24] pixelzoom commented on #62
Here's what `createWithScoreDisplayDiscreteStars` might look like with an inline type definition:

[code]

[2018-04-05 18:49] jonathanolson commented on #62
I was expecting no factory function, you would directly create an instance, e.g.:
[code]
and to create:
[code]

[2018-04-05 19:17] pixelzoom commented on #62
4/5/18:
Go with https://github.com/phetsims/vegas/issues/62#issuecomment-379039398

[2018-04-06 00:44] pixelzoom commented on #59
I asked:

@amanda-phet replied:

The "cheering" sound occurs in Make A Ten, whenever you get to 10 stars.  And there's a reward streaming down in the back.   So there is in fact quite a bit of fanfare for getting to 10 stars.

[2018-04-06 01:59] pixelzoom commented on #59
@amanda-phet @ariel-phet @andrea-phet Re: https://github.com/phetsims/vegas/issues/59#issuecomment-378945761 ....

I tried option (2), which is to let the game reward happen behind the "dimmed" background.   (There's currently no way to make it happen in _front_ of the dimmed background.) I think it looks fine, almost identical to Make A Ten.  See [1.0.0-dev.90](https://www.colorado.edu/physics/ph

[2018-04-06 02:32] pixelzoom commented on #62
@andrea-phet Let's apply the approach in https://github.com/phetsims/vegas/issues/62#issuecomment-379039398 to LevelSelectionItemNode.

[2018-04-06 03:12] pixelzoom commented on #59
Since @amanda-phet said "looks good to me" in https://github.com/phetsims/equality-explorer/issues/63#issuecomment-379135376, where the reward is behind the dimmed background, I assuming that (design wise) we're good with that option.

[2018-04-06 15:47] amanda-phet commented on #59
I think that since we should probably implement this as a dialog, this is the best way to go.

[2018-04-08 02:01] pixelzoom opened #63 "RewardNode requires redundant instances of reward Nodes"
RewardNode currently takes an array of Nodes from which to randomly pick.   If you want one type of Node to be more prevalent than some other type, you have to put multiple instances of that Node in the array.  For example, MakeATenRewardNode looks like this:

[code]

Would it be better to assign a "weight" to each Node, so we only need 1 instance of each?  Other ideas?

[2018-04-08 02:02] pixelzoom commented on #63
@samreid since he wrote RewardNode. @jonathanolson since he wrote MakeATenRewardNode.

[2018-04-08 02:06] pixelzoom commented on #63
There are currently 10 occurrences of `var RewardNode = require`.  From a quick skim of the uses, it looks like `MakeATenRewardNode` may be the only case that is using duplicate instances to make some type of Nodes more prevalent.

[2018-04-09 15:42] pixelzoom commented on #59
@andrea-phet I addressed some of the things related to StatusBar layout in the above commits. Let me know if you have questions.

[2018-04-09 16:34] pixelzoom commented on #59
Re StatusBar height in https://github.com/phetsims/vegas/issues/59#issuecomment-378994607...  I think we can leave things "as is".  ScoreboardBar uses this same approach, and it has been fine.  If someone needs more features (like setting a specific height, or setting the size of the Next button), they can add that as needed.

[2018-04-09 16:50] pixelzoom commented on #59
- [ ] I increased `NUM_STARS = 5` in the vegas demo, and noticed this layout problem in LevelSelectionItemNode:

![screenshot_546](https://user-images.githubusercontent.com/3046552/38510938-b844442e-3be3-11e8-9cce-c6726219e00f.png)

- [ ] I increased `PERFECT_SCORE = 1000` in the vegas demo, and noticed this layout problem in LevelSelectionItemNode:

![screenshot_547](https://user-images.githubuse

[2018-04-09 16:54] pixelzoom commented on #59
- [ ] These options are not used outside of LevelSelectionItemNode and LevelSelectionItemNodeDeprecated.  They are poorly documented and (imo) confusing . Perhaps we should delete them after consulting with the original author (@jbphet).

[code]

[2018-04-09 17:47] pixelzoom commented on #59
I addressed the scoreDisplay layout options https://github.com/phetsims/vegas/issues/59#issuecomment-379820253 via documentation.

[2018-04-09 18:02] jonathanolson commented on #63
No strong preferences. Weights would help with the duplication (and have fewer created objects), but it wasn't a huge problem here.

[2018-04-09 18:15] pixelzoom commented on #62
@jonathanolson Rather than having 3 different convenience types for the 3 different score display types, what do you think of the approach shown below?  This approach relies on the fact that all 3 score display types have the same constructor signature.

[code]

[2018-04-09 18:26] pixelzoom commented on #59
- [ ] Let's consider renaming `LevelSelectionItemNode` to `LevelSelectionButton`.   For all intents and purposes, it is a button, with optional "best time" decoration.

[2018-04-09 19:13] pixelzoom commented on #59
In the commit above, I renamed LevelSelectionItemNode to LevelSelectionButton, made it extend RectangularPushButton, added optional best time by decorating the button, and added tests to vegas demo.

[2018-04-09 19:24] pixelzoom commented on #59
There was also a latent memory leak fixed in the above commits.  Listeners for options `bestTimeProperty` and `bestTimeVisibleProperty` were not unlinked on `dispose`.

[2018-04-09 19:52] pixelzoom commented on #59
@andrea-phet in the commit immediately above, I replaced a group of options with `starNodeOption`.  This is a new "nested options" pattern that we're using.   See https://github.com/phetsims/tasks/issues/730#issuecomment-370860967.  Let me know if you have questions about how this works, or when to use it.

[2018-04-09 21:46] jonathanolson commented on #62
I'm curious about whether a factory method (instead of passing in a constructor and options) would work?

Also, are those the only score displays supported (since it checks for those)? What if I want to have a score display specific to a sim?

That said I'm fine with it as written.

[2018-04-09 21:59] pixelzoom commented on #62
@jonathanolson asked:

Factory methods could create the score display, but don't support disposing of the score display.   That's how we ended up with a type - so we could override `dispose.`

If you're using the `LevelSelectionButton` constructor directly, then the parameter is `{Node} scoreDisplay`.   You can pass in anything you want, but you're responsible for managing it.

If you're using the

[2018-04-09 22:13] jonathanolson commented on #62
Sounds fine to me.

[2018-04-10 00:17] pixelzoom opened #64 "where to locate the status bar in games?"
@amanda-phet Area Model attaches its status bar to the top of the browser window, not to the top of the layout bounds.  That's totally unlike any game that uses vegas game components (because @jonathanolson is not using a vegas component, but should be).  Should Area Model change, or do vegas StatusBar and ScoreboardBar need additional options?

Comparison screenshots, all run with ?dev:

![screen

[2018-04-10 00:20] pixelzoom opened #65 "animated "wipe" between UIs in games?"
In Equality Explorer (and every game I've done so far),  there has been no request for animated "wipes" between the setting UI and challenges, or when changing challenges.  But I see that Area Model game is doing wipes.

Why the difference?
When do we do wipes?
What UIs do we wipe between?

[2018-04-10 00:38] jonathanolson commented on #64
To me, it looks really weird when it gets separated. I'm curious what a typical aspect ratio (say, portrait on an iPad) would look like?

[2018-04-10 00:43] pixelzoom commented on #64
I don't care either way.  But I do care that we just implemented StatusBar and didn't get this input because Area Model isn't using vegas components.

[2018-04-10 00:44] pixelzoom commented on #64
I don't care either way.  But I do care that we just implemented StatusBar and didn't get this input because Area Model isn't using vegas components.  This and all of the other differences should have been addressed by modifying/enhancing vegas components, not by creating new one-offs.

[2018-04-10 00:50] jonathanolson commented on #64
Is the new StatusBar going to be used in make-a-ten? Because its status bar stays on the top like area-model.

Since work is being done in vegas, it sounds like a great opportunity to get everything consistent (and I'm happy to help get make-a-ten/area-model/fractions/etc. in compliance and using all the components).

[2018-04-10 00:54] pixelzoom commented on #64
Yes. Make A Ten started this new vegas work in early Feb, https://github.com/phetsims/make-a-ten/issues/279.

Keeping the status bar on top was not a requirement of the new vegas components.  And we all agreed that some things might change with Make A Ten.  This may be one of them.

[2018-04-10 00:56] #62 closed

[2018-04-10 00:57] pixelzoom commented on #65
This same issue is also discussed in https://github.com/phetsims/vegas/issues/18 from June 2014.

[2018-04-10 03:53] amanda-phet commented on #65
I prefer to do the "wipe" from level selection screen to a level (and back) when your progress on that level is saved, so that would happen in games that use a back button as opposed to a start over button. In games I've worked on that would include Arithmetic, Expression Exchange, and Make a Ten, but not Area Builder (since that uses a start over button). I'm not sure when or why the practice was

[2018-04-10 14:03] pixelzoom commented on #65
@amanda-phet said:

Now I'm really confused.  The type of game you're describing is Equality Explorer, not Area Model.  And what has been implemented for those sims is exactly the opposite.

[2018-04-10 14:08] pixelzoom commented on #65
@amanda-phet said:

I see lots of discussion about back vs "Start Over" buttons.  But I see no discussion about whether or why animation (wipe) should be applied in one case or not the other.  Perhaps I missed it -- can you please point me to specific comments?

[2018-04-10 14:16] pixelzoom commented on #65
https://github.com/phetsims/vegas/issues/18 is where the discussion about wipes/transitions started.

[2018-04-10 14:18] pixelzoom commented on #18
@jonathanolson Has implemented something that is fairly general for this in Area Model. It should be moved to a common repo.

[2018-04-10 15:54] jonathanolson commented on #18
It's SUN/SlidingScreen, but as noted it could probably be moved to TWIXT.

[2018-04-11 17:15] pixelzoom commented on #65
In design meeting, the questions specific to Equality Explorer are:

Do you want an animated wipe for any of these UI transitions?

- [ ] from level-selection to challenge

- [ ] from challenge to level-selection (back button in status bar, and "New Level" button in reward dialog)

- [ ] from current challenge to next challenge (Next button)

[2018-04-12 00:04] jessegreenberg commented on #63
+1 for assigning a weight to each node.

[2018-04-12 00:07] samreid commented on #63
It seems if you want to show two StarNodes in different locations on the screen, then you need at least two Node instances.  If you want to DAG and use the same StarNode at different locations, then you should use 3 Node instances: a Node container for one StarNode and a Node container for the other StarNode, and the StarNode itself.

[2018-04-12 01:03] jonathanolson commented on #59
The level selection button API seems quite inconvenient for my use case:

![vegas-level-selection-design](https://user-images.githubusercontent.com/480878/38650779-e18110be-3dba-11e8-935f-3a2945530c0c.PNG)

You can see:

- The visual part of the icon can vary in width and height
- The text part should have a consistent size and offset from the top

Naively putting in things like this results in a

[2018-04-12 01:27] jonathanolson commented on #59
Also in the mockup: with three stars, there is no padding to the left or right between the stars and the black border. With the current implementation, how can I accomplish that, or is that not something that will be done with level selection buttons?

[2018-04-12 16:37] pixelzoom commented on #59
@andrea-phet Since the new level-selection button is now named `LevelSelectionButton`, I've reverted `LevelSelectionItemNodeDeprecated` to `LevelSelectionItemNode`.

General note: Because of the way that `LevelSelectionItemNodeDeprecated` was initially created, the history for `LevelSelectionItemNode` lives with `LevelSelectionButton`.

[2018-04-12 16:49] pixelzoom commented on #59
Re @jonathanolson's issues with `LevelSelectionButton` in https://github.com/phetsims/vegas/issues/59#issuecomment-380641789 and https://github.com/phetsims/vegas/issues/59#issuecomment-380645546:

- It's incredibility costly (not to mention discouraging and demotivating) to be getting this feedback _after_ we've complete the design and implementation process.  Let's discuss why this happened, so

[2018-04-12 16:52] pixelzoom commented on #59
Re titles and icons on level-selection buttons... In Graphing Lines, I had no problem accomplishing this, see screenshot below.  I didn't find it at all "inconvenient", as you've describe it.

![screenshot_558](https://user-images.githubusercontent.com/3046552/38691984-a6dbc064-3e3f-11e8-9f75-32f345a466c0.png)

[2018-04-12 17:02] jonathanolson commented on #59
I'm not sure how this example applies, as the images used are all the same size. If I apply a random scale to each image, I'm sure the text size and all alignment would go crazy?

Also, since there's another case where these level titles are used, isn't that an even better argument for adding common support for it?

[2018-04-12 17:05] jonathanolson commented on #59
As a current example, just passing in a VBox with a label and the icon, the resulting label sizes are all over the place (notice how on the bottom row, every single label is at a slightly different size):

![fractions-level-example](https://user-images.githubusercontent.com/480878/38692564-57c98c84-3e41-11e8-9f55-fde5daf5db87.PNG)

[2018-04-12 17:07] pixelzoom commented on #59
Your "resulting label sizes are all over the place" because you're doing nothing in your client code to ensure that they meet your client's requirements.   My example from Graphing Lines shows that it's possible to do that on the client side with a minimum amount of work.  If you want to add additional responsibilities to LevelSelectionButton, I'm happy to discuss.  But it possible (and I would ar

[2018-04-12 17:11] pixelzoom commented on #59
Your "resulting label sizes are all over the place" because you're doing nothing in your client code to ensure that they meet your client's requirements.   My example from Graphing Lines shows that it's possible to do that on the client side with a minimum amount of work.  The fact that Graphing Lines has uniform image file sizes is irrelevant - I could have easily dealt with that. If you want to

[2018-04-12 17:25] jonathanolson commented on #59
It just seems to me that auto-scaling presents problems, and having titles as a feature of this sounds useful, as it will be used by at least 2 sims.

I'm fine being responsible for the icon, but the titles don't seem like an "icon".

I guess I'm just concerned, where if I were to create the buttons myself the code would be a LOT simpler. The assumptions made for the common code don't seem well su

[2018-04-12 20:10] pixelzoom commented on #65
4/12/18 design meeting with @amanda-phet, @arouinfar, @kathy-phet, @jonathanolson, @ariel-phet:

Answers to questing added in above comment.

I'll proceed with implementation.

[2018-04-12 20:12] pixelzoom commented on #65
4/12/18 design meeting with @amanda-phet, @arouinfar, @kathy-phet, @jonathanolson, @ariel-phet:

Answers to Equality Explorer questions added in above comment. I'll proceed with implementation.

In general:

• Always RTL wipe between level-selection and challenge
• For back button, always LTR wipe from challenge to level-selection
• For "Start Over" button, always dissolve between challenge and le

[2018-04-12 20:17] pixelzoom opened #66 "status bar change requests"
Change requests from 4/12/18 design meeting with @amanda-phet @arouinfar @kathy-phet @jonathanolson @ariel-phet:

- [x] add a 4th score display, "Score: ⭐⭐⭐⭐" (decorate ScoreDisplayDiscreteStars)
- [x] add scoreDisplay option to ScoreboardBar (old bar)
- [x] factor out a common bar that is used by both ScoreboardBar and StatusBar
- [x] possibly rename ScoreboardBar and StatusBar to indicate what t

[2018-04-12 20:26] pixelzoom commented on #18
Decisions on when transitions are used in games appear in https://github.com/phetsims/vegas/issues/65#issuecomment-380930042.

Closing.

[2018-04-12 20:26] #18 closed

[2018-04-12 20:29] pixelzoom commented on #64
4/12/18 design meeting:

Add an option to float bar to top of window.  Default is `false`.   This will be completed as part of https://github.com/phetsims/vegas/issues/66.

Closing.

[2018-04-12 20:29] #64 closed

[2018-04-12 20:31] pixelzoom commented on #59
Some changes/additions were requested in https://github.com/phetsims/vegas/issues/66.

Items to complete for this issue are:

- [ ] Replace LevelSelectedItemNode with LevelSelectionButton in all clients.
- [ ] Delete LevelSelectedItemNode

[2018-04-12 20:32] pixelzoom commented on #59
4/12/18 design meeting:

Requested changes/additions (including addressing the above LevelSelectionButton concerns) appear in https://github.com/phetsims/vegas/issues/66.

Items to complete for this issue are:

- [ ] Replace LevelSelectedItemNode with LevelSelectionButton in all clients.
- [ ] Delete LevelSelectedItemNode

[2018-04-13 20:39] pixelzoom commented on #66
Making changes to ScoreboardBar (the bar for games with a finite number of challenges) is going to be a lot of work.  It's so different from StatusBar.

@ariel-phet FYI, this is turning into a multi-day project.

[2018-04-15 19:11] pixelzoom commented on #65
Tracking transitions for Equality Explorer in https://github.com/phetsims/equality-explorer/issues/66.  Closing this issue.

[2018-04-15 19:11] #65 closed

[2018-04-15 20:16] pixelzoom opened #67 "LevelSelectionButton enhancements"
In https://github.com/phetsims/vegas/issues/59#issuecomment-380641789 and https://github.com/phetsims/vegas/issues/59#issuecomment-380645546, @jonathanolson had suggestions for enhancing LevelSelectionButton.   I was going to investigate as part of https://github.com/phetsims/vegas/issues/66 ("change requests for UI components"), but just handling the changes for status bars turned into a major pr

[2018-04-15 20:17] pixelzoom commented on #66
FYI, I'm don't have time to make LevelSelectionButton enhancements, so I've moved those requests to https://github.com/phetsims/vegas/issues/67.   This issue will deal solely with status bar and score displays.

[2018-04-16 01:39] pixelzoom opened #68 "replace LevelSelectionItemNode with LevelSelectionButton"
`LevelSelectionItemNode` is deprecated per https://github.com/phetsims/vegas/issues/59.  It should be replaced by `LevelSelectionButton` in the sims listed below.  This is not a straightforward conversion, since the API has changed significantly to support new features requested by designers.

- [x] area-builder @jbphet
- [x] arithmetic @jbphet
- [x] balancing-act @jbphet
- [x] build-an-atom @jbph

[2018-04-16 01:42] pixelzoom commented on #59
Moving sims from deprecated to new types will be tracked in #68 and https://github.com/phetsims/area-model-common/issues/118.

[2018-04-16 02:08] pixelzoom commented on #68
My sims have been converted to `LevelSelectionButton`.

Assigning this to other developers who are responsible for sims in the check list above.

[2018-04-16 02:10] pixelzoom commented on #68
By the way... One of the things that made this very easy to test for my sims was the `?showAnswers` query parameter that I've implemented for all games.  If other sims had this, I might have converted some of the sims that I'm not responsible for.

[2018-04-16 03:15] pixelzoom opened #69 "instrument ScoreDisplay* types"
`ScoreboardBar` appears at the top of many games, and looks like this:

![screenshot_68](https://user-images.githubusercontent.com/3046552/38788444-eceb6ad8-40f0-11e8-9690-5b80dce46b57.png)

In https://github.com/phetsims/vegas/issues/66, `ScoreboardBar` was deprecated and replaced by `FiniteStatusBar`, to accommodate enhancement requests by designers.

One of the requests was to be able to use th

[2018-04-16 03:37] pixelzoom opened #70 "code review for new UI components"
Significant modifications and new code were involved in #59 and #66.  This issue is to review that work.

Components to be reviewed:

- [x] `StatusBar` - base type for status bar that appears at top of games
- [x] `FiniteStatusBar` - status bar for games with a finite number of challenges, replaces `ScoreboardBar`
- [x] `InfiniteStatusBar` - new status bar for games with an open-ended (infinite) n

[2018-04-16 03:37] pixelzoom commented on #66
Work here is completed.

Code review in https://github.com/phetsims/vegas/issues/70.

[2018-04-16 03:37] #66 closed

[2018-04-16 03:38] pixelzoom commented on #59
Work here is completed.

Code review to be done in https://github.com/phetsims/vegas/issues/70

[2018-04-16 03:38] #59 closed

[2018-04-16 03:39] pixelzoom commented on #69
@ariel-phet FYI.

[2018-04-16 03:41] pixelzoom commented on #63
@samreid I'm not getting your point in the above comment. `RewardNode` already uses scenery's DAG feature and wraps every Node that is passed to it.   So using weighted instances will not increase the number of wrapper Nodes.

[2018-04-16 03:42] pixelzoom commented on #63
@samreid I'm not getting your point in the above comment.  Are you inferring that weighting would somehow increase the number of Nodes because wrappers would be required?  If so, that's not the case. `RewardNode` already uses scenery's DAG feature and wraps every Node that is passed to it.   So using weighted instances will not increase the number of wrapper Nodes.

[2018-04-16 03:46] pixelzoom commented on #25
In recent design meetings, we decided:

• For games with a finite number of challenges per level, a "Start Over" button is used.
• For games with an infinite (open-ended) number of challenges per level, a "back" button is used.

Those approaches are implemented in `FiniteStatusBar` and `InfiniteStatusBar` respectively, which look like this:

![screenshot_70](https://user-images.githubusercontent.c

[2018-04-16 03:53] pixelzoom commented on #28
We discussed this behavior as part of the design meeting noted in #66, and the consensus was that keeping the status bar close to the challenge (and not floating to the top of the window) was the most generally desirable approach. @jonathanolson was the lone dissenter.  But I did add option `floatToTop: false` to `StatusBar`, the base type for all status bars.  (`Scoreboard` is deprecated, replace

[2018-04-16 03:53] #28 closed

[2018-04-16 04:07] pixelzoom opened #71 "convert sims to FiniteStatusBar"
ScoreboardBar has been deprecated, see #66.  Convert these sims to use `FiniteStatusBar`.

 - [ ] balancing-act
 - [ ] build-an-atom

Then:

- [ ] delete ScoreboardBar
- [ ] delete any strings that were used solely by ScoreboardBar

[2018-04-16 14:40] pixelzoom commented on #71
In case you were planning to dive right into this... Please hold off for a couple of hours, I'm making an AP change that will make this a bit easier.

[2018-04-16 14:40] pixelzoom commented on #69
In case you were planning to dive right into this... Please hold off for a couple of hours, I'm making an AP change that will make this a bit easier.

[2018-04-16 14:40] pixelzoom commented on #70
In case you were planning to dive right into this... Please hold off for a couple of hours, I'm making an AP change.

[2018-04-16 15:20] samreid commented on #63
The implementation of `createRandomNodes` is based on multiple references to the same nodes.  (I forgot RewardNode is already internally wrapping the nodes and using DAG).  I'm not opposed to rewriting this to use a non-uniform distribution, but it could also work to use something like:

[code]

If we went with a distribution, it would probably look something like this:

[code]

[2018-04-16 15:58] pixelzoom commented on #71
API change completed. `FiniteStatusBar` is now responsible for creating and managing its scoreDisplay.

[2018-04-16 15:59] pixelzoom commented on #70
API changes completed. Status bars and LevelSelectionButton are now responsible for creating and managing their own score display.  Feel free to proceed.

[2018-04-16 16:00] pixelzoom commented on #69
API change completed.  Status bars now create and manage their score display.  So that makes this issue irrelevant:

[2018-04-16 16:59] jonathanolson commented on #70
I'm curious about barHeight being a parameter, instead of an option. I would generally assume that most sims would want to use a default bar height?

[2018-04-16 17:01] jonathanolson commented on #70
In StatusBar, `new Rectangle( 0, 0, 1, 1 {` can be simplified to `new Rectangle( {`, unless we are really using the 1x1 dimensions.

[2018-04-16 17:10] pixelzoom commented on #70
Agreed, `barHeight` would be better as an option.

Fine with changing to `new Rectangle( {`.  I tend to stick with `new Rectangle(x,y,w,h,{` instead of using the pseudo-polymorphic constructors.

[2018-04-16 17:25] jonathanolson commented on #70
updateLayout (between FiniteStatusBaar and InfiniteStatusBar) has a lot of duplication. What if subtypes had to implement an abstract `layout( leftEdge, rightEdge, centerY )`, or something else that deduplicates options.dynamicAligment (which looks the same between the two)?

[2018-04-16 17:26] pixelzoom commented on #70
I think that's worth doing.

[2018-04-16 17:27] jonathanolson commented on #70
InfiniteStatusBar handles the scoreDisplay resizing, but FiniteStatusBar doesn't handle that. Is there a difference between how the two cases need to be handled, or should they do the same thing?

[2018-04-16 17:28] pixelzoom commented on #70
Probably an oversight, I'll make it so.

[2018-04-16 17:31] jonathanolson commented on #70
InfiniteStatusbar (in its disposal) does:
[code]

I don't see references for `this.bar` (at least initially). Is there something I'm missing?

[2018-04-16 17:40] jonathanolson commented on #70
Does FiniteStatusBar need a disposal of `startOverButton`? (The back button is being disposed on the infinite one).

[2018-04-16 17:43] pixelzoom commented on #70
Since the buttons are owned by the status bars, and not visible as part of the public API, neither button probably needs to be disposed.

[2018-04-16 17:47] jonathanolson commented on #70
The one case of `lineWidth: 1` in LevelSelectionButton can be removed, as it is the default.

[2018-04-16 17:49] jonathanolson commented on #70
Similarly the `{ fill: null }` is not needed in LevelSelectionButton's createSizedImageNode (can just omit the options argument).

[2018-04-16 18:03] jonathanolson commented on #70
From slack:

I'll plan to integrate into area-model (and make-a-ten?) as part of the review then. Main pass through the code complete.

[2018-04-16 18:53] pixelzoom commented on #70
All issue that @jonathanolson identified (see above check box items) have been addressed.  @jonathanolson do you want to take a peek?  If all looks OK, feel free to close.

[2018-04-16 20:47] jonathanolson commented on #70
Looks good. I'll be integrating things today.

[2018-04-16 20:47] #70 closed

[2018-04-18 18:57] ariel-phet commented on #67
@jonathanolson since this is not needed for EqEx, priority is low, but if you feel it is fairly quick, feel free to tackle while it is fresh.

[2018-04-18 21:58] jbphet commented on #63
Sure, it would use less memory and be more compact if there was a weighting.  I picture something like @samreid shows in his 2nd example above, where there is a non-normalized weighting, sort of a "how many raffle tickets did this node buy?" sort of approach.

I would put this in the "would be nice" versus the "hugely important" category.

[2018-04-19 00:25] pixelzoom commented on #68
Labeled for developer meeting to make developers aware of this, and confirm with @ariel-phet that this is properly labeled as "chip away".

[2018-04-23 18:03] zepumph commented on #69
Currently the only game that is instrumented is BAA, and it will be largely reworked before republish. I don't plan on working on this until we are working on stable api for a sim with a game. Unassigning myself.

[2018-04-24 18:34] jbphet commented on #68
I have converted all sims for which I and the responsible developer.

[2018-05-01 18:34] jbphet commented on #71
This is done, but there are two things that need some followup:

[ ] - The levelVisible options doesn't seem to work.  I looked through the code, and I think it may have been missed, along with support for challengeNumberVisible.
[ ] - I didn't notice any strings that were orphaned by the deletion of ScoreboardBar, please double check this, since cleaning those up was one of the items listed above

[2018-05-08 02:30] samreid commented on #69
Understood--I suspect we will instrument these for the next stable PhET-iO game sim.  Unassigning myself until then.

[2018-05-10 21:13] pixelzoom commented on #71
I verified that there are no strings that were orphaned by the removal of ScoreboardBar.

[2018-05-10 21:46] pixelzoom opened #72 "Reward dialog obscures challenge solution"
In https://github.com/phetsims/equality-explorer/issues/104, @amanda-phet identified a problem with the use of the reward dialog (RewardDialog).  When you reach a certain score, it opens immediately and obscures the challenge solution.

This problem was also discovered in Make A Ten, see https://github.com/phetsims/make-a-ten/issues/284.

Identify whether these are other sims that have this proble

[2018-05-10 22:01] amanda-phet commented on #72
@phet-steele can you create a QA task (for yourself or someone else) to identify other sims with rewardnode where this issue is relevant?

[2018-05-11 03:03] pixelzoom commented on #72
@phet-steele The common-code implementation (VEGAS/RewardNode) is currently used only in Equality Explorer and the vegas demo application.  Make A Ten has its own implementation (which should be replaced with VEGAS/RewardNode, see https://github.com/phetsims/make-a-ten/issues/279).   Unknown whether other sims have a similar dialog.  If they do, they are not using common code, and an issue should

[2018-05-11 16:14] phet-steele commented on #72
@amanda-phet @pixelzoom what am I looking for? Sims with relevant issues in RewardDialog, or RewardNode? Or both?

[2018-05-11 17:56] phet-steele commented on #72
@pixelzoom @amanda-phet I went ahead and looked for both, hopefully I'm correct about most of this. I'm not too happy about the lack of RewardNode usage! 😄

I only looked at published sims, which excludes:

- Build a Fraction
- Estimation (*slight chuckle*)
- Fractions: Equality
- Fractions Intro
- Fractions: Mixed Numbers

The following sims were also ignored. They have game-like designs, but are

[2018-05-11 18:01] pixelzoom commented on #72
To summarize for @amanda-phet...

There is "questionable" overlap in Equality Explorer (https://github.com/phetsims/equality-explorer/issues/104), Make A Ten (https://github.com/phetsims/make-a-ten/issues/284) and Arithmetic (no issue created yet.)

It is @amanda-phet's call on whether/how to address this.

[2018-05-17 02:08] jonathanolson commented on #68
Refactored out usages, deleted. Closing.

[2018-05-17 02:08] #68 closed

[2018-06-12 16:53] jonathanolson opened #73 "LevelCompletedNode level"
Currently the value provided to the `level` field is not the level number, but 1 less than that (the level index, usually).

@samreid noted in the code review for Area Model (https://github.com/phetsims/area-model-common/issues/99) that it would simplify things to have LevelCompletedNode given the actual level number instead, so that the value given is displayed.

@pixelzoom and @jbphet thoughts?

[2018-06-12 17:07] pixelzoom commented on #73
I don't feel strongly.  But I wouldn't bother changing because:

(1) Zero-based indexing in the model is the most common approach in general.

(2) It's documented correctly and clearly in `LevelCompletedNode`:

`@param {number} level starting from zero, 1 added to this when displayed`

(3)  Zero-based level is used throughout vegas. E.g., `FiniteStatus`, line 134.   If we were to change, it should

[2018-06-13 14:39] samreid commented on #73
Here's the suspicious-looking code in area-model-common that was identified during the review, context is GameAreaScreenView (I changed the formatting to paste here)

[code]

I'm also wondering if we have to worry about PhET-iO naming.  If it shown as "level 1" on the screen but the phet-io variable name is "level0" it could be confusing.

[2018-06-13 15:51] pixelzoom commented on #73
The problem in area-model-common isn't with LevelCompletedNode.   The problem is lack of documentation about level numbering.  Apparently the model in this sim uses 1-based numbering for the levels, but doesn't document that.  I looked around and could find no documentation, just redundant comments like these:

[code]

In Equality Explorer, I made this same choice, but documented it extensively.

[2018-06-13 16:46] jbphet commented on #73
+1 on @pixelzoom's comments.  Whether to use 0- or 1-based indexing is a decision that is always fraught with tradeoffs, and in my opinion there is never a clearly superior choice.  Vegas uses 0-based, and you can change it if you want, but as @pixelzoom says it should be consistent throughout the library.  It doesn't seem worth it to me, and the approach of using 1-based in the sim and documentin

[2018-06-14 20:58] pixelzoom commented on #73
Imo, this issue would be sufficiently addresses by simply including the above comment somewhere in the internal documentation and/or implementation-notes.md.

[2018-06-14 21:03] jonathanolson commented on #73
Documented in the above commit in area-model. I'll be fine with either approach chosen.

[2018-06-15 13:50] samreid opened #74 "Factor out game enum/states/logic?"
From https://github.com/phetsims/area-model-common/issues/99

[code]
I've seen several games that use these states, should this or corresponding logic be factored out?  I'll run this past @jbphet first, since he has familiarity with vegas and some games.

[2018-06-15 15:42] jbphet commented on #74
I had this same thought a while back and tried it in Area Builder, please see the file `QuizGameModel.js`.  It was an attempt to do - I think - exactly what you're describing here, i.e. extract the logic for the basic flow of the game into a reusable object or set of objects.  In the end, I found what I'd implemented a little awkward because there was some sim-specific logic that needed to be hook

[2018-06-21 04:41] samreid commented on #73
That's my main consideration as well.

[2018-06-21 18:42] jonathanolson commented on #73
@jbphet noted in today's developer meeting that it made sense to be consistent, and he will take care of the refactoring at some point.

[2018-06-26 18:04] jbphet commented on #73
The sims updated to address this issue should be tested to make sure that the level is displayed correctly (or, in some cases, not at all).  They are listed below, and I'll assign QA to check them.  I spot checked several and they all looked good.

To test, please play the game at some arbitrary level (not always 1) and verify that the level value is either displayed correctly or not displayed at

[2018-06-26 18:09] jbphet opened #75 "change FiniteStatusBar to use 1-based level"
A concern was raised in #73 that the level value being used was 0-based instead of just being the actual level value.  In the process of addressing that issue, I noticed that FiniteChallengesScreenView does the same thing, so it should be updated too for consistency.

Assigning to @ariel-phet to decide who should address this.  @pixelzoom and @samreid are listed as the authors.

[2018-06-29 14:29] ariel-phet commented on #75
Assigning @pixelzoom as I am guessing this is not a huge amount of work to change. Let me know if this will be a major time investment.

[2018-06-29 16:12] jonathanolson commented on #74
@samreid is there something I should do here? It's the last blocking common non-a11y issue for area-model.

[2018-06-29 16:49] samreid commented on #74
At some point we should move code like this and supporting logic into vegas.  That will help us develop new games, factor out code from other games and will simplify PhET-iO development and API.   It's really up to Ariel when we do that.

[2018-07-05 15:38] lmulhall-phet commented on #73
@jbphet, Jacob looked at the sims in https://github.com/phetsims/vegas/issues/73#issuecomment-400409345, and he didn't see incorrect level numbering.

I looked at all of the first levels, and I didn't see Level 0.

[2018-07-05 16:43] jonathanolson commented on #73
Sorry! It was decided that we'd use the actual level numbers (1-based) throughout vegas.

[2018-07-05 16:50] pixelzoom commented on #73
From https://github.com/phetsims/vegas/issues/73#issuecomment-396664091:

I only see changes to LevelCompletedNode. Are we changing this throughout vegas? If so, who is doing that?  If not, why?

[2018-07-05 17:42] pixelzoom commented on #75
The issue here is in FiniteStatusBar, as used by FiniteChallengesScreenView.  @jbphet is that correct?

[2018-07-05 17:44] pixelzoom commented on #75
7 occurrences of "var FiniteStatusBar" will been to be changed:

- [ ] area-model-common
- [ ] balancing-act
- [ ] balancing-chemical-equations
- [ ] build-an-atom
- [ ] graphing-lines
- [ ] reactant-products-and-leftovers
- [ ] vegas (demo)

[2018-07-05 19:32] pixelzoom commented on #75
7/5/18 dev meeting: Yes, FiniteStatusBar and its usages need to be changed.

[2018-07-06 16:58] pixelzoom commented on #75
This has gotten complicated.  FiniteStatusBar has option `{Property} levelProperty`.  In order to make the numbering 1-based, I need to change the semantics of a model Property in 5 sims.

[2018-07-06 17:59] pixelzoom commented on #73
@jbphet what is required to close this issue?

[2018-07-06 18:01] pixelzoom commented on #75
Assigning to @jbphet for review, since this touched 2 of his sims.

[2018-07-09 16:52] jbphet commented on #73
I think it has been fully addressed and tested.

[2018-07-09 17:42] #73 closed

[2018-07-09 21:02] jbphet commented on #75
Changed to the common code look good, the general approach of using a derived property makes sense to me, and I checked the changes and behavior for Build an Atom and Balancing act and they looked good.  Thanks @pixelzoom, closing.

[2018-07-09 21:02] #75 closed

[2018-07-18 01:03] ariel-phet commented on #74
@samreid I agree we should do this at some point. @jbphet next sim after EFAC is quite likely to be a new math sim....and math sims often seem to have games. I am going to mark this as deferred and perhaps we can consider this improvement with our next sim with a game.

[2018-08-13 18:00] pixelzoom commented on #63
Sounds like there wasn't much interest in this, or concern about the current approach. Since we're unlikely to ever change, closing.

[2018-08-13 18:00] #63 closed

[2018-08-13 18:01] pixelzoom commented on #22
RewardNode has been in use for a long long time, and I haven't heard any complaints or discussion about this.  @samreid should this be closed?

[2018-08-13 18:02] pixelzoom commented on #8
@jbphet has been doing something related to this (very old) issue as part of recent sonificiation work. Can this issue be close?

[2018-08-13 18:09] pixelzoom commented on #72
This needs to be addressed on a per-sim basis (no common-code solution), and each sim that has this problem has an associated issue.  So closing this issue.

[2018-08-13 18:09] #72 closed

[2018-08-13 18:10] pixelzoom commented on #34
As we add more sound to sims, this complaint may come up more often.  @jbphet is there a plan for handling this?

[2018-08-13 22:41] jbphet commented on #34
I have never really liked the cheering sound and was out when the decision was made to use it to replace the other sound that signaled that a level was completed, see https://github.com/phetsims/vegas/issues/16.  If we are having problems with the length of the cheering sound, let's revert to the original sound or re-record a shorter version.

[2018-08-13 22:43] jbphet commented on #34
Did we have complaints about the sound used before?

[2018-08-13 22:45] jbphet commented on #8
Yes, let's close it in favor of https://github.com/phetsims/tambo/issues/28.  The size hasn't been much of an issue for these sounds, and the .ogg files were removed several months ago, which effectively halved the total file size used for audio.

[2018-08-13 22:45] #8 closed

[2018-08-14 15:28] pixelzoom commented on #34
@jbphet The more general issue is not related to any specific sound.  The issue is that there may be cases where a sound is in progress, and the user switches to doing something else.  Should the sound that was in progress be allowed to completed, or should it stop when the user switches to doing something else?  If the sound should stop, does the new sonification work support that?

[2018-08-14 15:47] jbphet commented on #34
Understood.  The tambo library already has that capability.  I could add it to vibe, but in this particular case it would cause the cheering to end very abruptly when the user continued, and in my opinion that would not be an improvement to the user experience.  Other people may feel differently, which is why I think @ariel-phet should weigh in.

[2018-08-14 15:50] pixelzoom commented on #34
Good to know that tambo supports this.  And my opinion is that we should do nothing in the case of this specific issue (cheering sound), and close this issue as "won't fix".

[2018-08-15 12:42] samreid commented on #22
Having a step function and supporting a step emitter works great, closing.

[2018-08-15 12:42] #22 closed

[2018-08-15 21:02] jonathanolson commented on #34
I don't have a personal preference here, as long as doing something like this in the future is supported (sounds like it is).

[2018-08-16 00:12] zepumph commented on #34
It does seem like tambo is the way of the future.

[2018-08-16 19:16] pixelzoom commented on #34
8/16/18 dev meeting:  Consensus agreed with https://github.com/phetsims/vegas/issues/34#issuecomment-413621883, and we should close this issue.  Assign to @jbphet so that he's aware of this decision, please close after reviewing this comment.

[2018-08-20 17:11] jbphet commented on #34
Thanks for the heads up, closing.

[2018-08-20 17:11] #34 closed

[2018-12-13 17:02] pixelzoom opened #76 "time display shifts in FiniteStatusBar"
This is a general issue, originally reported in https://github.com/phetsims/balancing-chemical-equations/issues/136.

With `stringTest=double`, the time display in the game status bar shifts around.

Steps to reproduce:
1. Start the sim with `stringTest=double`
2. Go to the game screen and turn on the timer.
3. Start a game and watch the timer.
4. When the time changes from 0:10 to 0:11, the displ

[2019-04-22 19:29] jbphet commented on #43
These branches are now part of standard practice, and we no longer keep issues to track this specific sort of branch.  Closing.

[2019-04-22 19:29] #43 closed

[2019-04-22 19:32] jbphet opened #77 "Rewrite GameAudioPlayer to use tambo"
The `GameAudioPlayer` type currently uses the older `vibe` library and should be rewritten to use `tambo` instead, since that library uses Web Audio in a more standard way and is the one we plan to use long term.

[2019-04-22 19:33] jbphet commented on #77
Closely related to https://github.com/phetsims/vibe/issues/33.

[2019-06-04 18:56] jbphet commented on #77
Here is a list of the sims that will need to have sound buttons removed and be tested for this change:

- [ ] arithmetic
- [ ] build-a-molecule
- [ ] make-a-ten
- [ ] area-builder
- [ ] balancing-act
- [ ] build-an-atom
- [ ] fraction-matcher
- [ ] fractions-equality
- [ ] fractions-intro
- [ ] fractions-mixed-numbers
- [ ] area-model-algebra
- [ ] area-model-decimals
- [ ] area-model-introduction

[2019-06-10 21:30] jbphet commented on #77
This should be complete.  I'll leave it open long enough to verify that continuous testing wasn't broken by these changes.

[2019-06-10 23:11] jbphet commented on #77
CT is clear of issues that would be caused by these changes.  Closing.

[2019-06-26 19:09] jbphet commented on #77
I just ran a test while working on a different issue where I loaded the current master version of "Build an Atom" with the `fuzz` parameter enabled and then clicked on the screen so that the audio context could start working.  The game audio was played occasionally as fuzz test ran, but after a while it start to get a bit scratchy and distorted sounding, and eventually stopped altogether.  I took

[2019-07-09 21:32] SaurabhTotey commented on #77
This issue is much more difficult than it would appear. Even after commenting out all of the insides of all of the methods in GameAudioPlayer, it seems like its usages still leak. However, if I comment out the usages of GameAudioPlayer, there is no apparent leak. I am unsure for why this behaviour would happen. I will continue working on this issue.

[2019-07-10 17:14] SaurabhTotey commented on #77
Disregard my previous comment. I believe I didn't test for long enough previously. After longer testing, I don't think these memory leaks are actually related to GameAudioPlayer. Even after commenting out all usages of GameAudioPlayer, the game screens of BAA and Graphing Lines still leak. I will continue looking into what is causing these memory leaks.

[2019-07-10 17:59] SaurabhTotey commented on #77
Just as a small note for myself, when unlinking all linked listeners for all disposable game view objects, it seems like the screen leaks much much faster. I am unsure of why this is happening, but I will continue to investigate.

[2019-07-10 19:52] SaurabhTotey commented on #77
After https://github.com/phetsims/build-an-atom/commit/fb7cb74bdd18791346f2594943c479f57680226b, it seems like the leak is actually coming from GameAudio. Seemingly, having the listeners not getting unlinked was making the leak seem to appear to be from elsewhere. However, now the leak is clearly coming from something sound related, so I will continue looking into GameAudioPlayer. It might be poss

[2019-07-10 20:22] SaurabhTotey commented on #77
By making the GameAudioPlayer sounds constants, I seem to have at least fixed this issue for BAA. I will need to test and see what happens for other uses of GameAudioPlayer, such as Graphing Lines.

[2019-07-10 20:50] SaurabhTotey commented on #77
After also testing with Graphing Lines and Arithmetic, I believe this issue has been solved. I think earlier, I just got unlucky by using BAA to test, because it probably had another source of leaks that was obfuscating my debugging. I will close this issue now. Feel free to reopen if it actually isn't solved.

[2019-08-12 20:48] pixelzoom commented on #51
While https://github.com/phetsims/vegas/issues/51#issuecomment-207081290 was the dev team consensus, there are other thoughts from @kathy-phet in https://github.com/phetsims/graphing-lines/issues/61#issuecomment-291296234.  And according to https://github.com/phetsims/graphing-lines/issues/61#issuecomment-436070994, this is on @amanda-phet's list as a design issue.

[2020-02-14 17:40] KatieWoe opened #78 "CT cannot read property phetioEngine of undefined"
[code]

[2020-02-17 18:26] zepumph commented on #78
Related to https://github.com/phetsims/phet-io/issues/1619, this was a case where we couldn't just covert to calling the phetioEngine global because this code needed to support phet brand too. Fixed above. Closing

[2020-02-17 18:26] #78 closed

[2020-03-12 23:04] jbphet opened #79 "consider having a separate class for the falling items in RewardNode"
For https://github.com/phetsims/tasks/issues/1017.

While reviewing TODO items in the vegas repo, I found this one in `RewardNode`:
[code]

The comment was originally added as a question for a reviewer by @samreid and later converted to a TODO item by @pixelzoom.  Assigning to @samreid to address.

[2020-03-13 00:46] pixelzoom commented on #79
The`{imageWrapper,x,y,speed}` data structure is internal to RewardNode. And it has existed like this since 5/30/14 without requiring needing fixes or maintenance.  So I don't see much of a "win" in converting it to a class.

[2020-03-13 00:47] pixelzoom commented on #79
Sounds like @jbphet meant to assign this to @samreid, so I'll do so.

[2020-05-21 21:57] samreid commented on #56
There are still TODOs marked for this issue, discovered during https://github.com/phetsims/chipper/issues/946

[2020-05-26 17:17] jbphet commented on #56
@samreid - I just took a look at this, and the TODO was added by you, and I believe it has already been addressed by the discussion above where we concluded that the inclusion of the button by composition, as opposed to inheritance, should be left as is and the type could be renamed if it was bothersome.  So, I'm hitting this back into your court.

[2020-05-26 17:27] samreid commented on #56
LevelSelectionButton changed to inheritance in https://github.com/phetsims/vegas/issues/59. I'll update the options accordingly.

[2020-05-26 17:28] samreid commented on #56
I updated the options, closing.

[2020-05-26 17:28] #56 closed

[2020-06-11 22:07] samreid commented on #79
Sounds reasonable to me, closing.

[2020-06-11 22:07] #79 closed

[2020-09-08 19:38] pixelzoom opened #80 "clock is not centered in game status bar"
In some sims, the clock is not centered in the game status bar (FiniteStatusBar).

Noted while working on https://github.com/phetsims/tasks/issues/1044, conversion of ElapsedTimeNode to ES6.  I thought this might have been something I did in the conversion, so stashed my changes.  It's unfortunately a problem and impacts all sims that have a game.

It looks fine in BCE, RPAL, and the vegas demo.

[2020-09-08 19:42] pixelzoom commented on #80
The clock and the 3 nodes to the left of it are added to an HBox.  It looks like the alignment it 'top' instead of 'center'.   But the code is definitely 'center'.

[2020-09-15 20:12] KatieWoe opened #81 "iPadOS 14 Safari does not show falling images when a game is won."
Found during https://github.com/phetsims/QA/issues/549.
If you win a game in which images are supposed to fall, on iPadOS 14 Safari they do not do so. The sound plays and the dialog saying you won comes up, but the "confetti" does not. Seen in Build a Fraction as an example. Does occur in Win 10 Chrome, so not an issue with the sim itself. Not a major issue itself. Not sure if such graphical issue

[2020-09-15 20:57] samreid commented on #81
Have you checked whether this problem occurs on other iOS versions?  When tethering to iOS 14, is there any error or message in the console?

[2020-09-15 21:03] pixelzoom commented on #81
@KatieWoe does the vegas demo work on iOS 14.  Go to the "Reward" screen and you should immediately see stars and smiley faces falling, like this:

<img width="1485" alt="screenshot_570" src="https://user-images.githubusercontent.com/3046552/93264607-9c57a000-f764-11ea-9724-c88440c10e56.png">

[2020-09-15 21:05] KatieWoe commented on #81
Where can I find the vegas demo? And I don't have an iPadOS 13 at the moment because I put it on Beta for this. @jbphet do you mind seeing if this happens with your device?

[2020-09-15 21:08] pixelzoom commented on #81
You can find the vegas demo on phettest, just like running any sim.  I also just published  [1.0.0-dev.4](https://phet-dev.colorado.edu/html/vegas/1.0.0-dev.4/phet/vegas_en_phet.html) if that helps.

[2020-09-15 21:10] KatieWoe commented on #81
I am seeing the falling objects in 1.0.0-dev.4

[2020-09-15 21:10] pixelzoom commented on #81
vegas 1.0.0-dev.4 works fine for me on my iPad6 running iOS 13.6.1.

[2020-09-15 21:11] KatieWoe commented on #81
Is Build a Fraction working on that device? If not it may be more sim specific than I thought, and not due to the new OS

[2020-09-15 21:14] pixelzoom commented on #81
Which version of Build a Fraction are you testing?  phetsims/QA#549 doesn't say.  And does it have any query parameters that show the reward regardless of whether you win? (It should, so I don't have to waste my time playing and winning a game to test the reward.)

[2020-09-15 21:14] KatieWoe commented on #81
I'm going through published sims. No query parameters.

[2020-09-15 21:27] KatieWoe commented on #81
I believe I am seeing the same behavior on Expression Exchange

[2020-09-15 21:42] KatieWoe commented on #81
Fraction Matcher is working as expected. Not sure what the issue stems from in that case. Sorry.

[2020-09-16 18:59] KatieWoe commented on #81
Summary:
Sims that I saw with the bug: Expression Exchange, Build a Fraction
Did not show it: Fraction Matcher, Vegas demo
These are the sims with reward node that I checked.

[2020-09-17 02:26] ariel-phet commented on #80
@pixelzoom normally I would defer this until one of these sims was getting worked on again and just have sim specific issues made. However, Balancing Act is in the iO pipeline in the near'ish future so it is worth at least investigating if this is reasonably easy to tackle.

Please put in 2 or so hours of investigation after the 10/1 Natural Selection deliverable. And assign back to me after that

[2020-09-17 04:32] pixelzoom commented on #80
Fixed in the above commits. This was introduced when the `excludeInvisibleChildrenFromBounds` option was added to LayoutBox for https://github.com/phetsims/joist/issues/608.  The default is `true`.  We need to set it to `false` here, because if a game keeps track of time, then the clock needs to be considered for layout regardless of whether it's visible.

Back to @ariel-phet to decide if this nee

[2020-09-17 06:10] pixelzoom opened #82 "convert RewardNode to ES6"
From https://github.com/phetsims/tasks/issues/1044, where I was converting RewardNode to ES6.

This needs its own issue because it turned out to be quite complicated, for several reasons:

* RewardNode was sloppy to begin with
* RewardNode does some late initialization
* RewardNode appears to be using an old PhET-iO pattern for determining whether state is being set
* There are 3 sim-specific subc

[2020-09-17 06:14] pixelzoom commented on #81
Over in https://github.com/phetsims/vegas/issues/82, I noticed that 3 sims have their own subclass of RewardNode: Build an Atom, Expression Exchange, and Make A Ten.   One of those (Expression Exchange) is implicated here.  @KatieWoe was the reward working for the other 2?

[2020-09-17 06:28] pixelzoom commented on #82
RewardNode and its subclasses were converted to ES6 in the above commit.

@jonathanolson MakeATenRewardNode was a piece of cake to convert, and easy to test. So unassigning you, and thank you!

@jbphet BAARewardNode was really messed up, and required some big changes. It's also using deprecated `tandem.createGroupTandem`, and I had no idea how to deal with that or test it.  I also couldn't spend t

[2020-09-17 06:41] pixelzoom commented on #82
I just noticed that RewardNode wasn't following the convention for implementing `dispose`, so I cleaned that up in the above commit.  The `stop` method is gone. Since it was only used in `dispose`, I assumed it was private.  And there is no `start` method or documentation about the intent of the `stop` method, so it looked like a way of unhooking the stepEmitter listener.

@samreid please review.

[2020-09-17 06:48] pixelzoom opened #83 "convert StatusBar and its subclasses to ES6"
Breaking this out of https://github.com/phetsims/tasks/issues/1044, because it's a biggish piece of work. (It's also the last piece of vegas that needs to be converted to ES6.)

StatusBar has 2 subclasses, FiniteStatusBar and InfiniteStatusBar.  They both override a protected method that is called from StatusBar's constructor.  This is a good example of why it's a bad idea to override anything tha

[2020-09-17 18:07] KatieWoe commented on #81
Both Build an Atom and Make a Ten seem to behave normally with the falling objects. Only Expression Exchange, of those three options, seems to show the bug.

[2020-09-17 19:04] zepumph commented on #82
@samreid mentioned at dev meeting today that this should block publication of anything that uses RewardNode.

[2020-09-18 00:26] ariel-phet commented on #80
@pixelzoom no need for a review.

[2020-09-18 02:06] #80 closed

[2020-09-26 00:12] pixelzoom commented on #83
There's really very little that FiniteStatusBar and InfiniteStatusBar have in common.  So reconsider whether the StatusBar superclass is even necessary.

[2020-09-28 15:52] samreid commented on #82
In the review, I spotted a few places where arrow functions should be used, a site where we may be able to use `this` instead of `self` and an IIFE that may no longer be necessary.  I'll make some commits.

[2020-09-28 16:07] samreid commented on #82
I tested build an atom with ?reward and did not see any problems.

[2020-09-28 16:10] samreid opened #84 "Convert RewardNode to use Sprite"
During https://github.com/phetsims/vegas/issues/82 I noticed that even on a very speedy machine the sprites in rewardNode do not animate smoothly, and there is code overhead in setting up a CanvasNode, and calling `drawImage` on the reward items.  Perhaps it would be simpler and have smoother performance to rewrite using SpriteNode?  RewardNode already internally converts nodes to images, so that

[2020-09-28 16:18] pixelzoom commented on #84
RewardNode seems like a perfect fit for Sprites.js -- transforming and drawing many instances of a small set of images.  It would probably be < 2 hours work for someone who is already familiar with Sprites.

[2020-09-28 16:34] samreid commented on #84
@ariel-phet can you please assign and prioritize?

[2020-09-28 16:55] samreid opened #85 "RewardDialog in the test harness leads to a broken state"
Discovered in https://github.com/phetsims/vegas/issues/82, when testing the reward node in the vegas harness, pressing the buttons in the dialog leads to a broken state:

![image](https://user-images.githubusercontent.com/679486/94462488-d4091380-0178-11eb-9850-f16b32ce87e1.png)

I checked out a version before any of the commits in #82 and found it was still problematic, so this problem predates t

[2020-09-28 17:11] samreid commented on #82
Review complete.

* I made around 8 commits with improvements.
* I opened 2 side issues for more improvements.
* I tested build an atom with ?reward and did not see any problems.
* I tested in the vegas test harness and did not see any problems.

Back to @pixelzoom to review the changes, and to recommend next steps.  Should we assign this to @jbphet to test in EE as a last step?

[2020-09-28 17:15] pixelzoom commented on #85
Known problem, reported in https://github.com/phetsims/sun/issues/618, not specific to RewardDialog, and probably related to the work that @jonathanolson did on factoring out PopupablePanel.

Closing as duplicate.

[2020-09-28 17:15] #85 closed

[2020-09-28 17:39] pixelzoom commented on #82
Back to @samreid.  You didn't address or comment on item (1) in https://github.com/phetsims/vegas/issues/82#issuecomment-693967615.

[2020-09-28 17:40] pixelzoom commented on #82
Back to @samreid.  You didn't address or comment on item (1) in https://github.com/phetsims/vegas/issues/82#issuecomment-693967615.

Yes, leave assigned to @jbphet  -- he has work to do as described in https://github.com/phetsims/vegas/issues/82#issuecomment-693967615.

[2020-09-30 05:19] samreid commented on #82
Item (1) says:

[code]

The pattern was suboptimal and I changed it from:

[code]

to

[code]

We use `Tandem.PHET_IO_ENABLED` rather than `isSettingPhetioStateProperty` because we are deciding whether to add a listener, not determining if we are in the process of setting state at the moment.

[2020-10-01 18:47] jbphet commented on #81
We discussed this in the 10/1/2020 developer meeting, and I should follow up by double checking that the reward node works in both Build an Atom and Expression Exchange, and should remove the code in `BAARewardNode` that instruments nodes that don't need it.

[2020-10-01 22:56] pixelzoom commented on #82
Thank for clarifying the phet-io related changes.

[2020-10-02 22:38] jbphet commented on #82
From the 10/1/2020 developer meeting, I should:

- [ ] Remove the code that instruments the nodes (that's where the deprecated `createGroupTandem` is being used)
- [ ] Make sure the query parameter for showing the reward node regardless of the score is working in BAA and, if not, fix it
- [ ] Verify the reward node works for BAA
- [ ] Make sure the query parameter for showing the reward node regar

[2020-10-02 22:49] jbphet commented on #82
I removed the instrumentation of the reward nodes and tested both, they looked fine.  Screenshots below (the nodes were moving correctly).  I think that's it, right @pixelzoom?

![image](https://user-images.githubusercontent.com/3082831/94975192-1e1e2c00-04ce-11eb-99c9-fd2ddbe21296.png)

![image](https://user-images.githubusercontent.com/3082831/94975455-f7142a00-04ce-11eb-8511-6895e8ac1742.png)

[2020-10-02 22:51] pixelzoom commented on #82
Yep. Looks like we're done here. Closing.

[2020-10-02 22:51] #82 closed

[2020-10-13 21:20] pixelzoom commented on #83
Done in 2 phases in the above commits. First I reworked the entire implementation. Then I converted to `class`.

Closing.

[2020-10-13 21:20] #83 closed

[2020-10-23 22:35] jbphet commented on #81
I did some work on `BAARewardNode` for #82.  I just tested it on iOS 14 using the live version and the master version, and the reward node worked fine in both cases, so I think we're good to go on that one (though I don't know what resolved the problem).

I then tested expression-exchange on iOS 14 and used the `showRewardNodeEveryLevel` and, unfortunately, I'm not seeing the reward node.  I teste

[2021-01-14 23:17] ariel-phet commented on #81
@jbphet although it is unfortunate that the reward node is not showing in a case like expression exchange, the sim still works, no crashing occurs, and it is certain not going to impact the pedagogical value of the sim.

Perhaps this would be a good bug for someone like @SaurabhTotey to track down and investigate?

[2021-01-22 20:07] kathy-phet opened #86 "Request: Query Parameter for limiting options on Game Screen"
A client would like to be able to limit the options on the Game Screen because only some are relevant for younger ages. This would clearly be something that PhET-iO could do. I'm submitting this for discussion because it might be worth discussion as a feature for all educators, offered through a query parameter. I'm not sure how much effort it would be.

[2021-01-28 21:13] jbphet commented on #86
Transferred to the vegas repo, since it is a general consideration related to games.

[2021-02-24 00:44] pixelzoom opened #87 "LevelSelectionButton does not propagate its options to super"
Discovered while working on the Wave Game screen in Fourier.

LevelSelectionButton does not propagate its options to super (RectangularPushButton), so passing a tandem to it does not instrument it.

[code]

[2021-02-24 01:32] pixelzoom commented on #87
Done in the above commits. The most time-consuming part of this was having to rename options `buttonXMargin` and `buttonYMargin` to `xMargin` and `yMargin` respectively.   I had to inspect a boatload of usages that were all related to AccordionBox, not LevelSelectionButton.

@jbphet would you mind reviewing this, since you're the original author?

[2021-02-24 21:51] jbphet commented on #87
Changes look good.  I also tested the appearance of the buttons in build-an-atom, fraction-matcher, and balancing-chemical-equations and they looked fine.  I played through one level of the game in both build-an-atom and fraction-matcher with the timer on to make sure level selection worked and that the time and score were displayed correctly.  Everything worked fine.  Thanks @pixelzoom.

While I

[2021-02-24 21:51] #87 closed

[2021-04-16 00:42] pixelzoom opened #88 "UI sound design needed by fourier-making-waves"
For  phetsims/fourier-making-waves#54

fourier-making-waves needs UI sound design for the following vegas (game) components:

LevelSelectionButton
InfiniteStatusBar - 1 'Back' button
RewardDialog - 2 push buttons, close (X) button

All of these components can be demonstrated in the vegas demo application, available via phetmarks. You can also see them in the Fourier sim's _Wave Game_ screen.

This

[2021-04-22 20:32] pixelzoom commented on #88
4/22/21 design meeting:

LevelSelectionButton might be thematically like radio buttons, where each one has a different pitch (increasing by level number).

Would be nice to have default sounds for everything, but options to provide sim-specific sounds.

[2021-05-12 15:48] Ashton-Morris opened #89 "Create and implement sounds for the Vegas Buttons/ Level Selection Buttons which also may be used as defaults in other sims"
I have created 10 level selection/Vegas buttons based on the solute selection options used in Molarity. Since 10 is the highest number of buttons for "games" I have seen I created 10. They are all different from one and another but are still in the same sound family and sound like they consistently increase as the number gets higher.

Please assign anyone to this issue that you feel is needed.

Al

[2021-05-12 16:43] pixelzoom commented on #89
To evaluate, I need information about the sound design. How did we get here? What were the requirements?

@arouinfar @Ashton-Morris were there meetings or discussions that I missed while I was on vacation? Can you fill me in?

The last time that I was involved in a discussion about sound for Level Selection buttons was Fourier design meeting on 4/22/21. From the meeting notes at https://github.com

[2021-05-12 16:45] pixelzoom commented on #89
Something else I'm not clear on...  Are these 10 sounds that can be assigned to any level, as desired?  Or is level-selection-buttons-001.mp3 intended to be the standard sound for Level 1, level-selection-buttons-002.mp3 for Level 2, etc.?

[2021-05-12 16:52] pixelzoom commented on #89
Other things I'm not clear on...

Are these 10 sounds that can be assigned to any level, as desired?  Or is level-selection-buttons-001.mp3 intended to be the standard sound for Level 1, level-selection-buttons-002.mp3 for Level 2, etc.?

Did implementation considerations inform this sound design?  This approach of having 10 difference mp3 files has some significant consequences.  LevelSelectionBu

[2021-05-12 16:56] Ashton-Morris commented on #89
These sounds are intended to be played in order. If a sim has 5 options then they should be played in the numbered order.

[2021-05-12 17:28] pixelzoom commented on #89
9 of the sounds are 32 kHz.  One is different: level-selection-buttons-010.mp3 is 44.1 kHz.  I don't know if that's significant, just mentioning in case it was not intentional.

[2021-05-12 17:34] Ashton-Morris commented on #89
@pixelzoom That was not intentional. I have replaced it with [this file. ](https://drive.google.com/file/d/1QfxBe81ZpiUcmwpHYblK1hUN_WBNVWIv/view?usp=sharing)

[2021-05-12 18:11] pixelzoom commented on #89
@jbphet pointed me to the documentation for PhET encoding standards, https://github.com/phetsims/tambo/blob/master/doc/encoding-audio.md.   It says:

So it looks like the 32 kHZ files are the ones that need to be changed.

[2021-05-13 20:20] pixelzoom commented on #89
Questions for 5/13/21 design meeting:

Sound Design:
* Different sounds for each level?
* Standard sound for each level?
* Ability to override the standard sound for a level?
* Should each sound be distinguishable from the others?
* Is it OK to impose an upper limit on the number of levels? If so, what is that limit?

Implementation:
* Generated vs mp3 sounds - limited number of levels, "range" of

[2021-05-13 21:01] pixelzoom commented on #89
5/13/21 design meeting: @jbphet @arouinfar @kathy-phet @KatieWoe @pixelzoom

Answers to questions are inlined in https://github.com/phetsims/vegas/issues/89#issuecomment-840809753.

Consensus was to use a base sound (chosen from a set of candidates) and change the playback rate based on level number -- ala radio buttons.

[2021-05-13 21:03] pixelzoom commented on #88
5/13/21 design meeting: @jbphet @arouinfar @kathy-phet @KatieWoe @pixelzoom

InfiniteStatusBar: would be nice to have a custom sound for "Back" (<-) button

RewardNode: No changes to "cheering" sound.  Probably can use standard button sounds, and standard sound for dialog close (X) button.  So perhaps nothing specific to do here.

[2021-05-13 21:09] pixelzoom commented on #89
5/13/21 design meeting: @jbphet @arouinfar @kathy-phet @KatieWoe @pixelzoom

We discussed the bullet items in https://github.com/phetsims/vegas/issues/89#issuecomment-840809753. Answers/conclusions are inlined in https://github.com/phetsims/vegas/issues/89#issuecomment-840809753.

Consensus was that the approach should be similar to radio buttons. Use one base sound, and change the playback rate b

[2021-05-17 17:41] Ashton-Morris commented on #89
Putting this on hold until we can discuss it further and clarify during our status meeting on the 27th.

[2021-05-17 21:17] jbphet commented on #88
One of the things listed in @pixelzoom's original comment above was "close (X) button" for the reward dialog.  This already has a general sound design, which was done for dialogs opening and closing, so I don't think any additional work is needed here.

[2021-05-17 21:51] pixelzoom commented on #88
@jbphet said:

Indeed. From our notes in https://github.com/phetsims/vegas/issues/88#issuecomment-840832910:

[2021-05-18 17:32] jbphet commented on #89
This was discussed in today's sound design meeting and @Ashton-Morris is going to come up with a sound or two that we can then play at different rates for the various level selection buttons.  Once he provides this, I'll hook it up and we can review it in a larger design meeting.

[2021-05-18 17:46] jbphet commented on #88
@Ashton-Morris is going to come up with some sounds to try out for the "Back" button on the status bar.

@Ashton-Morris - Below is a screenshot of this button to give you a little context.  Its function is to return to the level selection screen from a screen where a game or quiz of some kind is going on.

![image](https://user-images.githubusercontent.com/3082831/118699165-750f1200-b7ce-11eb-92fd

[2021-05-28 19:43] pixelzoom opened #90 "Define focus behavior for Game transitions"
This came up in the context of Fourier, but is relevant to sims that have a game screen.

A game screen is sort of like multiple screens in one.  It as a Node that shows level-selection buttons, and a Node for each level.  See example screenshots from Fourier below.  Pressing one of the level-selection buttons does an animated transition (usually a left-to-right wipe) to that level Node.   Pressin

[2021-05-28 19:45] pixelzoom commented on #90
Slack discusion with @jessegreenberg:

<details>
<summary>Slack discussion</summary>

Chris Malley  1:13 PM
In typical game screens, there’s a set of level-selection buttons. Press one of them, and the screen does an animated transition (usually a left-to-right wipe) to that level.   TransitionNode is responsible for that transition. In Fourier (and probably other sims), after that transition occu

[2021-05-28 19:48] pixelzoom commented on #90
This probably needs to be ironed out before Fourier 1.0 is published.  The current milestones for Fourier are listed in https://github.com/phetsims/fourier-making-waves/issues/43.

In the meantime, the plan was described in the above Slack thread:

[2021-06-01 00:50] Ashton-Morris commented on #89
[I have 4 candidates to try.
](https://drive.google.com/drive/folders/1AMcw551h-SWgyf_h-clYD_-5i0Jvehjv?usp=sharing)
game-button-001.mp3
game-button-002.mp3
game-button-004.mp3
game-button-003.mp3

@jbphet Can you share this with me once implemented so I can listen to them before you bring it up in the larger design meeting?

[2021-06-01 00:59] Ashton-Morris opened #91 "Create sound for the back button"
It was brought to my attention that we do not have a sound for the back button (ex. In Fourier). [Here are a few for us to try out.](https://drive.google.com/drive/folders/1AMcw551h-SWgyf_h-clYD_-5i0Jvehjv?usp=sharing)

- back-button-003.mp3
- back-button-002.mp3
- back-button-001.mp3

[2021-06-02 03:35] jessegreenberg commented on #90
@arouinfar (and @terracoda if you have time) can we schedule a brief design meeting about this? We will want to decide what the long term behavior should be and what the behavior should be for Fourier 1.0 (if we need to defer this).

[2021-06-02 22:02] jbphet commented on #89
I've marked this as blocking publication.  This is for any sim that uses the level selection buttons, since there will be some untested code in them for a while.

[2021-06-02 23:23] jbphet commented on #89
@Ashton-Morris, @emily-phet, and @arouinfar - I've published a dev version of the vegas demo that includes an "Options" dialog that allows us to choose between different base sounds for the level selection buttons, and I've integrated the four initial candidate sounds that @Ashton-Morris provided (see comments above).  Please give it a try and log your feedback in this ticket.  The dev version can

[2021-06-03 15:32] KatieWoe commented on #89
A number of sims are failing with these types of errors on CT:
[code]
@samreid suggested it is connected to this issue.

[2021-06-03 16:11] pixelzoom commented on #89
Recommended to revert this work in master, and move it to a branch.  This blocks publication of any sim that has a game, @jbphet is liable to be unavailable for awhile, and sounds could certainly be evaluated in a branch,

[2021-06-03 16:17] samreid commented on #89
It is unclear what to move to a branch--instead I put a bandaid on the global access which appears to fix things (tested in balancing act).

[2021-06-03 17:05] jessegreenberg commented on #90
Discussed today with @terracoda  and @arouinfar:

The behavior should be like this:
- After transitioning from level selection to a level scene, focus should move to the first focusable element in the level scene.
- After transitioning from the level scene to the level selection scene, focus should be on the button for the level that we just left.
- When switching to the game screen from navigatio

[2021-06-07 15:02] pixelzoom commented on #89
It doesn't look like the "bandaid" was effective. This is still failing for mutliple sims in CT.

[2021-06-07 15:05] pixelzoom commented on #89
The "bandaid" seems to have worked for LevelSelectionButton.  But @jbphet also made changes to BackButton, and that's now failing CT in multiple sims:

[code]

[2021-06-07 15:07] pixelzoom commented on #89
I'm going to attempt to revert these changes from master.

[2021-06-07 15:21] pixelzoom opened #92 "branch: sound-design"
This branch contains changes related to https://github.com/phetsims/vegas/issues/89 (sound design for vegas buttons).  This work was original commited to master, but created 2 probems: (1) the changes were buggy and were causing CT errors, and (2) it was blocking publication of sims.   So I created this branch, then reverted the work in master.

You'll also need https://github.com/phetsims/scenery

[2021-06-07 15:29] pixelzoom commented on #89
Changes have been reverted from master. Here's what I did:

* First, I moved vegas changes to a new "sound-design" branch, see https://github.com/phetsims/vegas/issues/92.  I did not make a branch for scenery-phet, so you'll need to re-apply BackButton changes as in https://github.com/phetsims/scenery-phet/commit/d317a98cf159776046ec2bbbc332eb8ff5fea493.
* Then I reverted vegas and scenery-phet ch

[2021-06-07 15:30] pixelzoom commented on #89
Removing the "blocks-publication" label, since these changes are no longer present in master.

[2021-06-07 15:41] pixelzoom commented on #90
That sounds nice.  Some implementation notes for myself and @jessegreenberg:

This seems to be handled nicely by the TransitionNode change that @jessegreenberg suggested in https://github.com/phetsims/twixt/issues/30#issuecomment-852662036.

This is NOT handled by the TransitionNode change that @jessegreenberg suggested in https://github.com/phetsims/twixt/issues/30#issuecomment-852662036.  Focus

[2021-06-07 16:58] pixelzoom commented on #90
This pattern was taken from the Home screen.

[2021-06-08 17:34] jbphet commented on #89
Thanks @pixelzoom and @samreid for making repairs, and my apologies for introducing the problem.  I should know better by now not to try to rush some experimental code and then leave town.  I'll fix it all up when I'm back to full work hours.

[2021-06-08 21:46] pixelzoom commented on #90
Over in https://github.com/phetsims/twixt/issues/30, @jessegreenberg and I agreed that this funtionality does not belong in TransitionNode -- it's much too general, and used for things other than games.

It might be the case that we could build support for this behavior (and the UI framework) into vegas. But that's a big project, better tackled after we have more a11y experience with game screens.

[2021-06-09 20:40] pixelzoom opened #93 ""Play area" and "control area" for games screens and scenes"
Related to https://github.com/phetsims/fourier-making-waves/issues/76...  We're running into a problem with “play area” and “control area” for the Wave Game screen in Fourier.  This problem is not specific to Fourier. It occurs for most game screens, and likely for screens with "scenes".  I'm creating this issue in vegas mainly because I didn't know where else to put it, so feel free to transfer i

[2021-06-09 20:49] pixelzoom commented on #93
I should note that since Fourier 1.0 will not have interactive descriptions, my understanding is that we could get away with deferring the "play area" vs "control area" design for 1.0, ignore `playAreaNode` and `controlAreaNode`, and just add everything directly to the ScreenView. @jessegreenberg does that sound right?

[2021-06-10 04:31] jessegreenberg commented on #93
Regarding the two issues in https://github.com/phetsims/vegas/issues/93#issue-916656382, I am hopeful that these are supported by `pdomOrder` and we won't have to change anything yet. `pdomOrder` doesn't just support changing the order of PDOM content for Node children, but it also supports creating a different hierarchy for the PDOM when we need. So we could take children from under TransitionNod

[2021-06-10 17:17] pixelzoom commented on #93
My understanding was that "play area" and "control area" are implemented by adding Nodes to `pdomPlayAreaNode` or `pdomControlAreaNode` in ScreenView.  But what I think you're saying is that we would NOT do that, and instead just set the `pdomOrder` for `pdomPlayAreaNode` and `pdomControlAreaNode` Do I undestand that correctly?  If so... That's interesting, but also a bit scary.   That approach wo

[2021-06-10 17:57] pixelzoom commented on #86
Note that a `gameLevels` query parameter was added to Equality Explorer, details in phetsims/equality-explorer#165.   It's a sim-specific query parameter (in EqualityExplorerQueryParameters.js) because vegas provides no framework or support for this aspect of games.    And while it would be nice to standardize on the query parameter name by putting it in initialize-globals.js, it's impossible to a

[2021-06-10 18:07] pixelzoom commented on #89
In https://github.com/phetsims/scenery-phet/issues/677#issuecomment-858843778, @emily-phet said:

- @Ashton-Morris and I met on Wednesday to review the latest sound variants for the level selection and back buttons. @Ashton-Morris will update the issue with specifics on each of the three options we listened to for each, but the outcome is that we think we have a good option of the existing set for

[2021-06-10 19:26] jessegreenberg commented on #93
Yes, that is correct. And I agree that pdomOrder would address points made in https://github.com/phetsims/joist/issues/721.

[2021-06-10 21:48] pixelzoom commented on #93
From 6/10/21 Fourier meeting notes in https://github.com/phetsims/joist/issues/721#issuecomment-858981800:

[2021-06-11 15:05] Ashton-Morris commented on #89
@emily-phet and I reviewed the Vegas Buttons/ Level Selection Button sounds via the options on [Wednesday which can be found here.](https://phet-dev.colorado.edu/html/vegas/1.0.0-dev.5/phet/vegas_en_phet.html)

- EM and I both preferred option 2 for this button, and I secondarily enjoyed option 1.

@jbphet I would love it if you leave your top choice here also so I can hear your opinion.

[2021-06-11 19:40] pixelzoom commented on #93
Since we're not going to address "play area" and "control area" for Fourier 1.0, I'm going to unassign myself from this issue. But feel free to loop me back in if you'd like my input.

[2021-06-11 21:06] jbphet commented on #92
The fix that @samreid did to the buggy code that I'd introduced looks good, so this branch is not longer needed.  I'll close the issue and delete the branch.

[2021-06-11 21:06] #92 closed

[2021-06-11 21:16] jbphet commented on #89
I think @Ashton-Morris is saying that he and @emily-phet liked the selection that corresponds to the file `game-button-003.mp3` the best, but I will confirm in our next meeting.  This is also my first choice.

Our next step should be to try it in Fractions Intro, which has 20 selection buttons for the game.

[2021-06-14 17:29] pixelzoom commented on #88
FYI, Fourier "feature complete" milestone has been moved to 8/24/21.

[2021-06-14 19:51] jbphet commented on #89
I reviewed a proposed API for the level selections with @pixelzoom this morning and he felt that it looked reasonable but suggested more documentation.  I'll add it.  The basic idea is that the client can specify an index number for the sound player if they want to use the default, or a fully unique sound player.  The code will assert if a client tries to specify both.  These will be set and descr

[2021-06-14 20:08] pixelzoom commented on #89
For `soundPlayerIndex`, it would also be good to note that this index is 0-based. If the client is using 1-based indexing for their levels, they'll need to compensate.  Nothing is going to break if they don't compensate, but their levels will all be 1 pitch higher than "standard".  This was the case in Fourier, see WaveGameLevelSelectionNode.js:

[code]

[2021-06-14 21:53] jbphet commented on #89
I've added the documentation that @pixelzoom suggested in the previous comment.

[2021-06-15 21:28] jbphet commented on #89
We discussed the sounds at today's sound design meeting and decided to move forward with `game-button-003.mp3`.  I'll delete the other sounds from the repo and make this one official, and will also remove the ability to select the sound from the options dialog.

[2021-06-29 19:56] jbphet commented on #89
I have removed the unused sounds and renamed the one that we decided to keep to `level-selection-button.mp3`.

@Ashton-Morris - Two things:
- [ ] I'll need a `.wav` version of this sound for the assets directory
- [ ] Please note this name change for your records in case we ever need to manipulate the sound

[2021-06-29 20:18] Ashton-Morris commented on #89
I have changed the filename in my system. Here is the .wav

[level-selection-button.wav](https://drive.google.com/file/d/1tIzJ0JkAjBmcgsru8WU5xMkeO7efLs00/view?usp=sharing)

[2021-06-29 22:17] jbphet commented on #89
I've added the asset and we did some level adjustment during today's sound design meeting.  I think we're done here.  Closing.

[2021-06-29 22:17] #89 closed

[2021-07-09 18:20] pixelzoom commented on #88
It looks like the Back button sound was completed in https://github.com/phetsims/scenery-phet/issues/677. Do we now have support for all of the vegas components used by Fourier?

If so... @jbphet please review in Fourier (master), then assign to @arouinfar for sign-off.  Reviewing will be easier if you run with `?showAnwers&showReward`, which will show the challenge answers, and show the reward di

[2021-07-09 19:02] arouinfar commented on #88
So **that's** how you use `showAnswers`! I don't know how many times I've tried to use it and then convinced myself that it doesn't actually exist or I've misremembered the name. I would have never guessed to go poking around in special-ops to find it.

[2021-07-13 20:43] jbphet commented on #88
@Ashton-Morris - As the lead sound designer, can you please also take a listen to this and let us know if you have any major objections?

[2021-07-16 21:05] jbphet commented on #60
Reopening.  This branch was restored during an effort to recover some branches that were accidentally deleted.  This one had been _intentionally_ deleted, and now needs to be re-deleted.  See https://github.com/phetsims/special-ops/issues/198.

[2021-07-16 21:05] jbphet commented on #60
Re-deletion complete.  Closing.

[2021-07-16 21:07] #60 closed

[2021-07-27 21:17] jbphet commented on #88
Reviewed this with the sound design team today, and we're good with it.  Closing.

[2021-07-27 21:17] #88 closed

[2021-08-13 01:06] pixelzoom opened #94 "Change image file names and imports."
For https://github.com/phetsims/chipper/issues/1060 ...

Use camelcase for image file names, and make imports match file names.

There's only 1 image in vegas. It's used only in vegas.RewardDialog and equality-explorer.EqualityExplorerScreenIcons.

I'll take care of this. It might be best to wait until https://github.com/phetsims/molecule-polarity/issues/114 and https://github.com/phetsims/graphin

[2021-08-16 19:08] pixelzoom commented on #94
Done, closing.

[2021-08-16 19:08] #94 closed

[2021-08-26 19:02] pixelzoom opened #95 "RewardNode uses deprecate Node.toImage"
When running a sim that uses RewardNode with `?deprecationWarnings`, it reports:

So RewardNode should be changed to use `rasterized`.

[2021-10-04 23:37] pixelzoom opened #96 "Keyboard navigation design for RewardDialog"
In https://github.com/phetsims/fourier-making-waves/issues/194#issuecomment-929646387, I discovered that vegas.RewardDialog currently does not support keyboard navigation.  It looks like this:

<img width="569" alt="screenshot_1298" src="https://user-images.githubusercontent.com/3046552/135169600-b6389615-5558-47ef-8ad9-50b7e91bf533.png">

Two design questions for  @arouinfar:

(1) Based on the co

[2021-10-04 23:44] arouinfar commented on #96
(1) Based on the color of the "New Level" button, that would seem to imply that it should get focus when the dialog is opened. Is that correct?

Yes, I would agree. "New Level" is where I would expect a student to go. If they've triggered the RewardNode, they have shown sufficiently mastery of the current level, and I would want them to move to the next level.

(2) Can we swap the order of the pus

[2021-10-05 00:07] pixelzoom commented on #96
Changes pushed to master and fourier-making-waves-1.0 branches.

The dialog now looks like this:

<img width="465" alt="screenshot_1312" src="https://user-images.githubusercontent.com/3046552/135940519-86bb9c55-774b-457a-8f5c-06bac8ce3635.png">

And the traveral order is:  "New Level" button -> "Keep Going" button -> browser URL textfield -> close (X) button

@arouinfar please review in master.  Y

[2021-10-05 23:46] pixelzoom commented on #96
Assigning to @jessegreenberg to comment on this feedback from @arouinfar:

@jessegreenberg described this to me as the expected behavior.  I suggested that the `pdomOrder` should be content -> closeButton, but that's not what Dialog currently does.

This sounds undesirable. @jessegreenberg has been working on this aspect of Dialog in https://github.com/phetsims/sun/issues/721. I'm guessing that Di

[2021-10-06 00:20] jessegreenberg commented on #96
It was a design request at one point to have the close button come first. I think so that when focus moves into the dialog reading of non-interactive content could proceed from the top. @arouinfar can you please open an issue in joist if you would like this changed?

This is the same issue as https://github.com/phetsims/joist/issues/750, but with the *correct* behavior if I understand correctly. I

[2021-10-06 00:33] arouinfar commented on #96
Thanks for the clarification @jessegreenberg. It seems a bit odd visually, but if the current implementation is better for screen readers, that's fine with me. This behavior currently exists in the Preferences dialog of John Travoltage. Focus automatically goes to the tabs, and the traversal order is then tabs > tab contents > browser URL > close button.

[2021-10-16 00:02] jbphet commented on #81
I did some investigation on this since the issue has been lying around for a long time.  The reason that the reward node doesn't appear is because there is explicit code that prevents it from appearing.  It looks like this was done to reduce the memory footprint on an iPad, see https://github.com/phetsims/expression-exchange/issues/91.  The issue explicitly mentions iPad 2, which is no longer supp

[2021-10-16 00:22] pixelzoom commented on #81
Where did you do this? I see no commit here or in phetsims/expression-exchange#91.

I'm trying to determine if this is relevant to expression-exchange and fractions-common, or whether it's relevant to all sims with a reward (like the just-deployed Fourier 1.0).

[2021-10-16 00:25] pixelzoom commented on #81
I also don't see any recent commits in master for expression-exchange or vegas that look like they are related to this.  Did you "remove the code" only in some branch?

[2021-10-18 17:55] KatieWoe commented on #81
This looks fixed on Expression Exchange in master on iPadOS 15

[2021-11-13 15:27] pixelzoom commented on #77
Reopening.  As discovered in https://github.com/phetsims/equality-explorer/issues/177, this had a (possibly undesired) consequence.  UI sounds are now enabled for all sims that use GameAudioPlayer.  In the case of Equality Explorer, we've discovered this during RC tesitng for a new release, and now have to decided if it's OK to publish the sim with partial UI sound support, or whether we need to d

[2021-11-15 14:50] pixelzoom opened #97 "Zoom feature results in incorrect behavior of RewardNode."
The general zoom feature is not working properly with RewardNode. RewardNode does not adjust to fill the visibile bounds of the ScreenView.  See for example https://github.com/phetsims/equality-explorer/issues/176.  And this seems to be happening with all sims that use RewardNode.

I believe @jessegreenberg was the developer for the zoom feature, so I'll start by assigning to him.  We'll start wit

[2021-11-15 18:52] pixelzoom commented on #77
This can be accomplished by setting the volume to zero for the 'ui-sounds' category:

`soundManager.setOutputLevelForCategory( 'user-interface', 0 );`

But this exposes another bug. LevelSelectionButton's sound is apparently not associated with the 'ui-sounds' category, and it should be.

[2021-11-15 19:02] pixelzoom opened #98 "Sounds were not added to category 'ui-sounds'."
This is a prerequisite to implementing the proposed fix in https://github.com/phetsims/vegas/issues/77#issuecomment-969214191.

When sound was added for vegas components in https://github.com/phetsims/vegas/issues/89, they were apparently not assigned to category 'ui-sounds'.   Reproducible by adding this to a sim with a Game, like Equality Explorer:

`soundManager.setOutputLevelForCategory( 'user

[2021-11-15 20:22] jbphet commented on #98
I've added the level selection and back buttons into the "user-interface" sound category.  I tested it by adding code to set the output level for this category to zero in `equality-explorer-main.js`, and it seemed to behave as descired.

Assigning to @pixelzoom to review and to cherry-pick into an RC for which this change is needed.

[2021-11-15 20:27] kathy-phet commented on #97
Thanks for making the issue, I agree this should not stop publication releases at the moment, and while I think we should investigate this issue and fix it in the long run, this issue seems like something that can wait a bit since its consequences are pretty minor. I've added it to quarterly planning to discuss if we do it in Q1 2022.

[2021-11-16 16:15] pixelzoom commented on #98
I verified that this is working as desired in Equality Explorer.  I'll leave self-assigned using we decide how to address this generally, and how to address it for Equality Explorer in https://github.com/phetsims/vegas/issues/77.

[2021-11-17 00:17] jessegreenberg commented on #97
RewardNode uses CanvasNode and sets `canvasBounds` for the content when initialized and when the ScreenView transform changes. In the case of pan/zoom an ancestor of the ScreenView has a transform that changes so `updateBounds` is never called.

[2021-11-17 18:52] jessegreenberg commented on #97
We can use TransformTracker to watch transforms along the Trail to the RewardNode. This means using `getUniqueTrail` to get the Trail to the RewardNode, disallowing DAG. But RewardNode already uses `getUniqueTrail` to find the ScreenView to attach the listener to, so this has always been a limitation for RewardNode. Ill give this a try.

[2021-11-18 21:03] kathy-phet commented on #77
@jbphet and @markgammon will collaborate on a sim-specific issue, and put individual issues in the repos of the sims with effected games.

[2021-11-18 21:09] pixelzoom commented on #77
11/18/21 design meeting: @amanda-phet @arouinfar @kathy-phet @markgammon @jbphet @chrisklus

* @jbphet and @markgammon will create an issue for each sim listed in https://github.com/phetsims/vegas/issues/77#issuecomment-968085715, indicating that UI sounds have been enabled, and describing how to turn off 'ui-sounds'. You can skip fourier-making-waves, because it has been intentionally published w

[2021-11-18 21:44] pixelzoom commented on #98
I've completed the cherry-picks for phetsims/equality-explorer#177. Closing.

[2021-11-18 21:44] #98 closed

[2021-11-19 17:19] markgammon commented on #77
Issues created indicating UI sounds have been enabled and how to turn these off:

- [ ] [Area-builder](https://github.com/phetsims/area-builder/issues)
- [ ] [Area-Model-Common](https://github.com/phetsims/area-model-common/issues)
- [ ] [Arithmetic](https://github.com/phetsims/arithmetic/issues)
- [ ] [Balancing-act](https://github.com/phetsims/balancing-act/issues)
- [ ] [Balancing-chemical-equa

[2021-11-19 18:16] markgammon commented on #77
@pixelzoom - @jbphet and I created an issue for deciding whether to turn off UI sounds and have added it to each of the listed sims.

Should this issue remain open or ok to close?

[2021-11-23 17:33] KatieWoe opened #99 "CT Perennial task failed"
[code]

[2021-11-29 19:31] jbphet commented on #99
This is no longer happening on CT, and the vegas repo has been passing all CT tests since yesterday at about 3:20 PM.  Screenshot:

![image](https://user-images.githubusercontent.com/3082831/143930500-646187e3-08f7-4733-8306-3905165e7611.png)

I know a bunch of work was being done on the TypeScript compilation process, and progress has been made, so I'm going to chalk this up to that activity and

[2021-11-29 19:31] #99 closed

[2021-12-15 00:18] pixelzoom opened #100 "Provide a function to create the schema for `gameLevels` query parameter."
Designers (@arouinfar @amanda-phet @kathy-phet) requested a `gameLevels` query parameter. Unfortunately that query parameter can't be supported by the common-code schema in initialize-globals.js, because every sim has a different number of game levels.  The downside of this is that every sim is creating its own implementation of `gameLevels`, and the implementations are not the same.  For example

[2021-12-17 17:05] markgammon commented on #100
@pixelzoom do you have recommendations for devs that may be particularly good match for this review? Thanks

[2021-12-17 18:38] pixelzoom commented on #100
@chrisklus perhaps, since this work was motivated by  phetsims/number-play#92? By now he's probably familar with the standard design of `?gameLevels`. And regardless of how Number Play ends up  addressing this query parameter, it would be good for him to be familiar with it.

[2021-12-17 22:04] markgammon commented on #100
Thanks @pixelzoom. @chrisklus will do the review.

[2021-12-20 18:00] chrisklus commented on #100
`getGameLevelsSchema` and its usages look great. I tested it out in a new sim and made sure validation worked for all expected cases in FMW. Back to @pixelzoom to close if all set.

I'll comment details in phetsims/number-play#92, but it would be pretty unifying for Number Play to use this as well.

[2021-12-20 22:00] pixelzoom commented on #100
Thanks @chrisklus. Closing.

[2021-12-20 22:00] #100 closed

[2022-01-12 23:28] jessegreenberg commented on #97
This is potentially something that shouldn't require too much work, and was marked as a goal for Q1 2022. Removing the deferred label.

[2022-01-26 17:51] arouinfar commented on #90
I remember reviewing the focus order and keyboard nav behavior in general throughout the design process for Fourier: Making Waves, but it looks like this issue slipped through the cracks. That said, the published sim does have the behavior outlined in https://github.com/phetsims/vegas/issues/90#issuecomment-854034816, so closing.

[2022-01-26 17:51] #90 closed

[2022-02-02 16:59] samreid opened #101 "Move StatusBar to scenery-phet"
For https://github.com/phetsims/center-and-spread/issues/6 @chrisklus and I discussed with @pixelzoom about moving StatusBar to scenery-phet and agreed it is a good plan.

I'll keep the history.

[2022-02-02 22:43] jessegreenberg commented on #97
The change to use TransformTracker to watch transforms of any ancestor (not just the ScreenView) to update RewardNode bounds was done in the above commit.

I tested this by zooming in and out of the RewardScreenView and also by verifying the case in https://github.com/phetsims/equality-explorer/issues/176 was fixed (RewardNode looks correct when it starts animating while already zoomed in).

[2022-02-02 23:27] jessegreenberg commented on #97
@samreid since you were the original author of RewardNode and previously worked on `canvasDisplayBounds` can you please review this change? Feel free to pass back to me if you don't have time at the moment and Ill solicit another reviewer.

[2022-02-14 17:40] samreid commented on #97
Working copy patch for the review:

<details>

[code]

</details>

[2022-03-31 19:35] samreid commented on #97
At today's quarterly planning meeting, it was requested to increase the priority of this issue.  Maybe get to it within a few weeks?

[2022-04-08 23:34] samreid commented on #101
I observed that the command `../perennial/bin/copy-history-to-different-repo.sh js/StatusBar.ts ../scenery-phet/` failed to get the history prior to the file rename:  Here is the history in vegas:

<img width="919" alt="image" src="https://user-images.githubusercontent.com/679486/162546477-28258c0a-fba9-4e3b-b74d-bee7e26cd0c1.png">

Here is the history in scenery-phet after the copy:

<img width="

[2022-04-09 00:39] samreid commented on #101
I tried making up my own multi-script using the patches idea, like so:

[code]

However, this failed and I also tried applying patch2 then patch1 and it failed for a different reason.  In one case, I ended up with a TS file and a JS file, where the JS file had some history, but still ended with `define()` implementations.

[2022-04-09 04:01] samreid commented on #101
I have a proposed plan that I think will work well for this issue and future cases where we want to move history from one repo to another more robustly.

1. Install the command `git filter-repo`.  It is recommended by the git documentation as an improvement over `git filter-branch`.  https://git-scm.com/docs/git-filter-branch#_warning.  I used `git --exec-path` to see the path for auxiliary git co

[2022-04-09 04:29] samreid commented on #101
Following the above instructions, I moved StatusBar and its history and renames from vegas to scenery-phet.  I cloned a fresh version of scenery-phet and confirmed the history looked as desired.  I updated all references to point to the version in scenery-phet.  I removed the old copy from vegas.  I tested Center and Variability, and it looked good.  I tested Build an Atom, which creates one statu

[2022-04-09 12:20] samreid commented on #101
@pixelzoom can you please review this change?  In particular, can you please check that the history of StatusBar in scenery-phet is intact?  If you additionally have time to review the process in https://github.com/phetsims/vegas/issues/101#issuecomment-1093659193, that would be great.  If not, please assign to @zepumph to check on that part.

[2022-04-10 16:30] pixelzoom commented on #101
Commit history for StatusBar.ts looks like it's intact, and I see commit back to 4/13/18.  FYI, it began its life on 4/13/18 when it was factored out as a base class for https://github.com/phetsims/vegas/issues/66.

The process for moving git history described in https://github.com/phetsims/vegas/issues/101#issuecomment-1093659193 looks reasonable, but I'm not certain.  So it would be good to have

[2022-04-12 15:56] pixelzoom commented on #101
@samreid How about moving the "copy history to different repo" issue to a new GitHub issue?  It's not really related to StatusBar, and having it in its own issue will make it easier to find in the future.

[2022-04-12 16:00] #77 closed

[2022-04-12 16:11] pixelzoom commented on #86
`gameLevels` was standardized as part of https://github.com/phetsims/number-play/issues/92 and https://github.com/phetsims/fourier-making-waves/issues/145.  So this issue has been completed since 12/14/21.

Note that it's up to the sim to add the `gameLevels` query parameter using getGameLevelsSchema.js,  and to document it where other query parameters are documented (in Teacher Tips, etc.) For ex

[2022-04-12 16:11] #86 closed

[2022-04-12 16:26] samreid commented on #101
Thanks, I opened https://github.com/phetsims/perennial/issues/269.  Since the StatusBar move has been reviewed, this issue can be closed.

[2022-04-12 18:21] pixelzoom opened #102 "`any` for scoreDisplayConstructor and scoreDisplayOptions"
A couple of uses of `any` that need to be addressed, identical in FiniteStatusBar.ts and InfniteStatusBar.ts:

[code]

`scoreDisplayConstructor` should be a constructor, one of the values in `VALID_SCORE_DISPLAY_CONSTRUCTORS`.

`scoreDisplayOptions` should be the options type that matches `scoreDisplayConstructor`.

I'm not sure how to address this, will investigate.

[2022-04-12 22:16] pixelzoom opened #103 "Use DialogOptions in RewardDialog."
In RewardDialog.ts:

[code]

When Dialog has been converted to TypeScript, this workaround should be removed.

[2022-04-12 22:58] pixelzoom commented on #102
Another case in LevelSectionButton.ts:

[code]

[2022-04-19 16:14] amanda-phet opened #104 "Should `?gameLevels` control what is in the game Info dialog?"
Mentioned in https://github.com/phetsims/number-play/issues/161 , but this is relevant to Number Play, Equality Explorer, and Fourier Making Waves.

When we use the `gameLevels` query parameter, the info dialog doesn't change. I understand why that's probably the case, but it might be nice to consider updating that to reflect only the visible levels, or at least document that we want all of the le

[2022-04-19 16:40] pixelzoom commented on #104
Yes, the Info dialog should be adjusted, so that it shows only relevant levels.

Unfortunately there is currently no support for this in common-code.  Long-term we could consider adding a "Game Info" dialog to vegas, as well as a "Level Selection button group".  And those things could presumably display things that are relevant only to the levels that appear in `?gameLevels`.

In the meantime, thi

[2022-04-19 16:48] amanda-phet commented on #104
These are all questions I've had too, @pixelzoom ! I wanted the issue in this repo so we could decide if we want to make changes at all, and then figure out if it will be sim-specific changes or if we want to consider a common code solution. I would prefer to have a global decision first before making any changes to individual sims.

[2022-04-19 16:49] pixelzoom commented on #104
I created sim-specific issues, linked above.

[2022-04-19 22:37] jbphet opened #105 "Review TypeScript conversion"
In the 4/14/2022 developer meeting we decided that each developer should do some reviewing of another developer's TypeScript code conversions in a common code library.  I was assigned to review this one (vegas).

[2022-04-20 03:04] jbphet commented on #105
For the most part, this all looks great.  I added and changed some comments for consistency and handled a `ts-nocheck`.  I also added a handful of REVEW-TS comments, but they are all basically about the same thing, which is whether the score display constructors could be typed in some way so that the comments that say "All constructors must have the same signature!" would be unnecessary and automa

[2022-04-20 14:13] pixelzoom commented on #102
As @jbphet noted in https://github.com/phetsims/vegas/issues/105#issuecomment-1103422693, it would be nice to remove this kind of thing:

[code]

... and use an interface instead.

Then there's still the problem of how to say "this option must have a value that is a constructor with this signature".

[2022-04-20 14:16] pixelzoom commented on #105
Thanks for the review @jbphet.

They are related to #102.  I've added TODOs.  They are also related to the "All constructors must have the same signature!"  issue, so I've replaced your "REVIEW-TS" comments with TODOs.

@jbphet what were your general questions? I might be able to answer them, before bringing to a larger forum.

[2022-04-20 15:55] jbphet commented on #105
Here are the items that I put in the dev meeting notes.  These are mostly for my own edification, but since you asked:

- Is there a way that constructors with the same signature can be typed (I’ll show an example of why this is necessary)?  What about using a static factory method instead?
- There are some usages of `any` related to the constructors.  Is there a better way?
- There are a number o

[2022-04-20 16:44] jbphet commented on #105
Thanks for the insights.  I'm okay to close this and move on if you are.

[2022-04-20 17:46] pixelzoom commented on #105
👍🏻

[2022-04-20 17:46] #105 closed

[2022-04-20 18:10] pixelzoom commented on #105
Btw... There were a few uses of `merge` that I converted to `optionize` in the above commit.  The remaining uses of `merge` are related to #102 and now have an associated TODO.

[2022-04-21 19:37] samreid commented on #102
This is the TypeScript syntax for indicating the presence of a constructor:

[code]

I'm not sure what to do about the options type.  And perhaps a factory function (closure) instead of passing around constructors would be clearer.

[2022-04-25 16:50] pixelzoom commented on #104
I think this makes sense to do now for Fourier and EqEx.  @arouinfar @amanda-phet OK to proceed?

[2022-04-25 19:29] arouinfar commented on #104
Yes, sounds good to me.

[2022-05-03 04:02] mattpen opened #106 "Build Failure: Argument of type 'FiniteStatusBar' is not assignable to parameter of type 'Node'"
Currently, number play is not able to build due to an error in vegas.

Steps to reproduce:

This only occurs on phet-server2 (running RHEL 8). Node version is 16.14.2. This does not occur on macOS 12 with Node 16.14.2.

1. Checkout number-play 1.0 branch.
2. In perennial, run `grunt checkout-shas --repo=number-play`
3. In number-play, run `grunt`.

Result:

[code]

[2022-05-06 01:47] amanda-phet commented on #104
That sounds great to do this for EqEx.

[2022-05-06 01:50] amanda-phet commented on #104
@pixelzoom if you create new issues for this for Fourier and EqEx I think this one can be closed.

[2022-05-06 03:28] pixelzoom commented on #104
👍🏻 Closing.

[2022-05-06 03:30] pixelzoom commented on #104
Issues were made on 4/19 for Fourier and EqEx, linked above.

Closing.

[2022-05-06 03:48] pixelzoom commented on #104
Reopening.

In https://github.com/phetsims/vegas/issues/104#issuecomment-1102863379, I noted:

In https://github.com/phetsims/vegas/issues/104#issuecomment-1105700262, design meeting notes say:

I'm not sure I agree with that. The level-selection UI and Info dialog are 2 things that do seem to be consistent (or _could_ be consistent, if they're currently not) for all games that I'm familiar with.

[2022-05-12 20:27] amanda-phet commented on #104
Discussion May 12, 2022
- If it's a lot of work to do this in common code, probably not worth it at this time. Future sims that want to have this functionality will want to make sure the patterns are similar to these.
- Info dialog (dialog plus query parameter controlling which levels are shown in dialog) might be one day of work, but level selection buttons should be created and simply hidden in

[2022-05-19 16:24] pixelzoom opened #107 "Create a reusable Info dialog for games."
[From https://github.com/phetsims/vegas/issues/104.](https://github.com/phetsims/vegas/issues/104#issuecomment-1125393164)

* Create a reusable Info dialog for games.
* Read the `?gameLevels` query parameter, if it exists for the sim.
* Use new layout features of scenery, if they are ready.
* Use the dialog in Equality Explorer, Fourier, and NumberPlay

It would be nice to have this done by mid Ju

[2022-05-19 16:25] pixelzoom opened #108 "Create a reusable Level-Selection UI."
From https://github.com/phetsims/vegas/issues/104#issuecomment-1125393164.

* Create a reusable Level-Selection UI for games.
* Read the ?gameLevels query parameter, if it exists for the sim.
* Use new layout features of scenery, if they are ready.
* Identify sims that should use it.

The UI might include only the level-selection buttons, or it might include other UI optional components (title, in

[2022-05-19 16:28] pixelzoom commented on #104
I've moved specific work to https://github.com/phetsims/vegas/issues/107 and https://github.com/phetsims/vegas/issues/108.  Closing this issue.

[2022-05-19 16:28] #104 closed

[2022-05-19 16:52] pixelzoom commented on #108
I immediately hit a problem with generalizing this.   Most game Info dialogs look like this one in Equality Explorer.   Each level description is a line of RichText, and they are arrangement in a VBox.

<img width="810" alt="screenshot_1670" src="https://user-images.githubusercontent.com/3046552/169354249-ccc32373-17b8-46ef-9847-866fe2f66612.png">

And there is one string for each level descriptio

[2022-05-19 16:53] pixelzoom commented on #107
I immediately hit a problem with generalizing this.   Most game Info dialogs look like this one in Equality Explorer.   Each level description is a line of RichText, and they are arrangement in a VBox.

<img width="810" alt="screenshot_1670" src="https://user-images.githubusercontent.com/3046552/169354249-ccc32373-17b8-46ef-9847-866fe2f66612.png">

And there is one string for each level descriptio

[2022-05-31 18:23] pixelzoom commented on #108
This seems like an excellent place to try scenery's new GridBox.    Here's an untested sketch.

[code]

[2022-05-31 18:32] pixelzoom commented on #108
As I think about this more, I'm moving closer to the conclusion that this UI component may not by desirable.   There are too many things about it that can differ between sims:

* the title string, and its options
* the icons for the level-selection buttons, and options for those buttons
* layout of the buttons
* optional Info button, the associated Info dialog, descriptions of each level
* optiona

[2022-06-03 21:50] chrisklus commented on #107
@pixelzoom I completed those changes in the issue linked above. Let me know if that's what you were looking for.

Here are the new strings:

[code]

Noting that the 4 level descriptions can be accessed directly on the strings object, or you can get one for each level generally via the model: `level.gameType.levelDescriptions[ level.levelNumber ]`

[2022-06-06 17:54] pixelzoom commented on #107
Currently blocked by https://github.com/phetsims/sun/issues/763.  Popupable and Dialog need to be converted to TypeScript.

[2022-06-20 20:01] jbphet commented on #102
I have committed changes to address this issue.  The basic idea is to have an option that is a creator function for the score display instead of providing a constructor and separate options.  I had @samreid take a look at the approach before making the commits, and he said he found it reasonable.

This works, and is much more type safe, so it solves the problem where `any` had to be used in severa

[2022-06-24 18:10] jbphet commented on #102
@samreid - I also requested that QA run a regression test these changes on master, see https://github.com/phetsims/qa/issues/817.

[2022-06-26 23:40] samreid commented on #102
I reviewed the commits and this seems a good direction to go in.  I have 3 main feedback points:

- [ ] Change the return type to `Node`.  There are many places where the return type is identified as specific subtypes of score displays, such as:
[code]

and

[code]

However, none of the usage sites need to know those are score displays--all they need to know is they are scenery Nodes.  So I tried

[2022-06-27 20:49] pixelzoom commented on #107
In the above commits, I created GameInfoDialog.  Of special note is the `gameLevels` option, which callers can set to the value of their `gameLevels` query parameter. (I did consider making the `gameLevels` option a Property.  And in fact, I went way down that path.  But as something to control via PhET-iO, it seems unnecessary.)

I used GameInfoDialog in fourier-making-waves and equality-explorer

[2022-07-05 18:11] pixelzoom opened #109 "New UI components for games"
This epic was started in Q2 2022. I'm retroactively creating this issue, so it can be linked to the Quartly Planning project board.

In https://github.com/phetsims/vegas/issues/104#issuecomment-1125393164, we identified a need for some common UI components that appear in games.  This epic tracks progress on those components, which are each tracked in separate issues.

Related issues:

* https://gi

[2022-07-05 18:18] pixelzoom commented on #109
Status as of 7/5/2022 quarterly planning meeting:

* #107 (GameInfoDialog) is ready for review, assigned to @chrisklus
* #108 is in-progresss

[2022-07-06 17:32] pixelzoom commented on #108
https://github.com/phetsims/scenery/issues/1429 and https://github.com/phetsims/scenery/issues/1430 have been addressed, so removing on-hold label.

[2022-07-07 20:11] jessegreenberg commented on #97
Great ideas, thanks. I added an assertion to make sure that the trail to the RewardNode hasn't changed between `updateBounds` calls. Thanks for reviewing, back to you @samreid.

[2022-07-08 22:12] jbphet commented on #102
I've incorporated @samreid's recommendation to broaden the return type for `createScoreDisplay` (thanks for the patch @samreid !), and it looks good.  I did some regression testing in a couple of sims, and everything looks fine.

I decided not to add the options for font and text fill to `createScoreDisplay`, since it does indeed seem more complicated, as @samreid noted above.

As for regressions

[2022-07-08 22:12] #102 closed

[2022-07-08 22:45] samreid commented on #97
Looks great, thanks!  Closing.

[2022-07-08 22:45] #97 closed

[2022-07-08 23:30] pixelzoom commented on #108
Above I said:

After running into problems with scenery layout Nodes, and rolling this around in my brain for a couple of weeks... I'm thinking that a better approach would be to create `LayoutSelectionButtonGroup`, similar to other PhET "groups" (`RectangularRadioButtonGroup`, etc.)

`LayoutSelectionButtonGroup` would have:

* support for `gameLevels` querty parameter
* `LayoutSelectionButtonGrou

[2022-07-11 17:18] pixelzoom commented on #108
I've started integrating LevelSelectionButtonGroup into sims, but there are blocking problems with scenery layout.  I'm discussing these problems with @jonathanolson via Slack.

In the meatime, any sim that uses LevelSelectionButtonGroup should be considered blocked from publication.

[2022-07-11 18:10] pixelzoom commented on #108
@jonathanolson and I discussed on Slack. I was getting confused about "primary direction" and "secondary direction", and semantics of the term "line" in a layout context. @jonathanolson clarified, and explained the benefits. There are no changes to scenery layout required.

[2022-07-11 21:59] pixelzoom commented on #108
One aspect of this group that I did not address is voicing/description.  Support for these features is currently inconsistent (or non-existent) across PhET groups.  Here's the current status:

* AquaRadioButtonGroup options: `labelContent`, `tagName`, `labelTagName`, `ariaRole`, `groupFocusHighlight`

* RectangularRadioButtonGroup options: `labelContent`, `voicingContextResponse`, `descriptionCont

[2022-07-11 22:07] pixelzoom commented on #108
@kathy-phet please assign a reviewer for this work. Note that until this is reviewwed, publication of sims that use LevelSelectionButtonGroup is blocked.

[2022-07-11 22:08] pixelzoom commented on #109
Work on this epic is completed. Both of the above issues are ready-for-review.

[2022-07-11 22:17] pixelzoom commented on #103
Looks like I did this in f35ec858a29c31b7f70d5d8975c68bea73d5cc5c.

Closing.

[2022-07-11 22:17] #103 closed

[2022-07-12 22:21] chrisklus commented on #107
Thanks for these changes - GameInfoDialog looks great and is working well in Number Play. I tested various combos of the `gameLevels` query parameter.

* All usages of `descriptionTextOptions` are providing the same font size, could we make that the default?
* All usages of `vBoxOptions` are the same, and all are duplicating the two defaults in GameInfoDialog because maxWidth needs to be included

[2022-07-12 22:37] chrisklus commented on #107
Another possibility for that second bullet could be to remove `title` from GameInfoDialog options, add `titleString` instead, and have GameInfoDialog be responsible for creating the titleNode, since those usages largely look the same. May be more trouble than it's worth though if we need the flexibility of exposing the Text options for the titleNode. However, this could also be an opportunity unif

[2022-07-12 23:01] pixelzoom commented on #107
Thanks for the review, I'll have a look at the proposed patch.

We'd need to also add `titleOptions`, for styling the Text created by GameInfoDialog. And someone will eventually want RichText instead.  And a `useRichText` option to choose between Text and RichText.  And then that complicates `titleOptions` -- what type do we give it? And then someone wants to use an icon in their title.  And then.

[2022-07-13 17:05] pixelzoom commented on #108
In the above commits, I improved the demo of LevelSelectionButtonGroup. See screenshot below.  It now includes:

* the typical layout, a single row of buttons
* multiple rows of buttons, used in a few sims that have lots of levels
* a custom layout, in this case an 'X' pattern that uses scenery's GridBox

<img width="1080" alt="screenshot_1776" src="https://user-images.githubusercontent.com/304655

[2022-07-13 17:13] pixelzoom commented on #108
The other sims are:

- [ ] area-builder @jbphet
- [ ] area-model-common @jonathanolson
- [ ] arithmetic @jbphet
- [ ] balancing-act @jbphet
- [ ] build-an-atom @jbphet
- [ ] expression-exchange @jbphet
- [ ] fractions-common @jonathanolson
- [ ] make-a-ten @jonathanolson
- [ ] number-play @chrisklus

@kathy-phet you might want to consider choosing one of the above developers to review LevelSelecti

[2022-07-13 18:26] pixelzoom opened #110 "LevelCompletedNode should be a Dialog"
LevelCompletedNode should be a modal Dialog.  It's currently a subclass of Panel.  Unless you write sim-specific code, the user can still interact with the sim while it's displayed. And clicking outside of it does not dismiss it.  There's no close (X) button.  And the programming API is totally different.

For example, in vegas demo, I can still interact with all of the controls behind this pseudo

[2022-07-13 19:27] pixelzoom commented on #110
AllLevelsCompletedNode has the same problems, and should be a Dialog.  It is used by:

- [ ] expression-exchange
- [ ] fractions-common

[2022-07-13 19:29] pixelzoom commented on #110
I took a running start at this, and it's going to be a big chunk of work, easily an entire day. And there are PhET-iO issues to deal with -- which we haven't encountered only because a "finite challenges" sim has not been instrumented yet.   So I'm unassigning for now.  This will probably need to be addressed when any of the sims notes above needs to be republished.

[2022-07-13 19:44] chrisklus commented on #108
@kathy-phet asked me to review this earlier today, self assigning.

[2022-07-13 19:58] pixelzoom commented on #108
Thanks @chrisklus.  I realize that this is a long issue (lots of comments). You should be able to proceed by reading only these 4 comments, the first of which is a summary:

* https://github.com/phetsims/vegas/issues/108#issuecomment-1180907390
* https://github.com/phetsims/vegas/issues/108#issuecomment-1180911408
* https://github.com/phetsims/vegas/issues/108#issuecomment-1183471301
* https://git

[2022-07-14 15:52] KatieWoe opened #111 "CT: Do not move the RewardNode in the scene graph after calling initialize or the transformation may break."
[code]

[2022-07-18 16:37] pixelzoom commented on #111
This is a problem with pan and zoom, so reassigning to @jessegreenberg.  This blocks publication of all sims that use RewardNode (which is probably most games).

To reproduce locally:

1. Run the vegas demo
2. Go to the Components screen
3. Select "RewardNode" from the combo box
4. Zoom-in in the browser. On macOS + Chrome, that's `View > Zoom In` or `⌘+`.
5. The demo will immediately crash with t

[2022-07-18 16:41] pixelzoom commented on #111
The failing assertion was added by @jessegreenberg recently, on 7/7/2022 in https://github.com/phetsims/vegas/commit/efe7863e2835c3adfe5c40193e9fb22b2bc9eca2, to address https://github.com/phetsims/vegas/issues/97 (Zoom feature results in incorrect behavior of RewardNode).  So apparently there are still problems with zoom and RewardNode.   @jessegreenberg I'll leave it up to you where to investiga

[2022-07-18 16:42] pixelzoom commented on #97
The assertion added in https://github.com/phetsims/vegas/commit/efe7863e2835c3adfe5c40193e9fb22b2bc9eca2 is causing a new failure in CT.  See https://github.com/phetsims/vegas/issues/111.

[2022-07-18 17:03] jessegreenberg commented on #111
I just pulled all, restarted the transpiler, and followed the steps in https://github.com/phetsims/vegas/issues/111#issuecomment-1187720023 but I do not see this issue.

But I did see it after doing this:
1) Run the vegas demo
2) Go to the Components screen
3) Select "RewardNode" from the combo box
4) Select any other component from the combo box
5) Zoom in

I am guessing something is wrong with d

[2022-07-18 19:57] KatieWoe commented on #111
Is this related, or seperate?
[code]

[2022-07-18 20:00] jessegreenberg commented on #111
Thanks, that is different. Ill create a new issue for that.

[2022-07-18 20:01] jessegreenberg opened #112 "CT: Reentry detected during pan-and-zoom-fuzz : unbuilt"
From https://github.com/phetsims/vegas/issues/111, but it is its own issue.
[code]

I am not sure why this is only happening in vegas.

[2022-07-18 20:16] jessegreenberg commented on #112
Fuzzing for several minutes now locally and I have not seen this. I will let it run and check back later.

[2022-07-19 00:42] pixelzoom commented on #111
Yep, that's the problem - thanks! Fixed in the above commit.  I'll leave this open until CT is happy.

[2022-07-19 12:59] pixelzoom commented on #111
CT is happy. Closing.

[2022-07-19 12:59] #111 closed

[2022-07-19 19:49] pixelzoom commented on #107
Done in the above commits.

[2022-07-19 20:40] pixelzoom commented on #107
Adding `GameInfoDialog.DEFAULT_MAX_CONTENT_WIDTH` (as in the patch) still requires the caller to set `maxWidth` for their `title` and `vBoxOptions`.  I decided to try a different approach, where GameInfoDialog is responsible for constraining its width, and were the caller (in most cases) never needs to deal with `maxWidth`.

Here's a summary of what I did in the above commits:

* Added `GameInfoDi

[2022-07-21 17:29] jessegreenberg commented on #112
This is no longer showing up in CT. It was either transient or downstream of #111 (though I don't know how that would be possible).

Closing.

[2022-07-21 17:29] #112 closed

[2022-08-24 18:35] chrisklus commented on #108
LevelSelectionButtonGroup.ts is looking great and the `gameLevels` query parameter is working nicely. I had a good experience using this in Number Play. A couple notes:

1. Can `levelSelectionButtonOptions` be optional? I ended up putting most options in item.options and could see how `levelSelectionButtonOptions` may not be used in some cases.

2. Default layout got me pretty far but not quite wh

[2022-08-24 22:34] pixelzoom commented on #108
Yes, good catch. Done in the above commit.

@chrisklus and I discussed this via Zoom, notes in https://github.com/phetsims/number-play/issues/184#issuecomment-1226470463.

So I think this is ready to close.

[2022-08-29 19:21] chrisklus commented on #107
Commits look great, thanks. One note - In the above commits I removed all the duplicated defaults for `vBoxOptions`, as that was part of my reasoning for creating a default for maxWidth separate from vBoxOptions, so those defaults no longer needed to be duplicated. Closing.

[2022-08-29 19:21] #107 closed

[2022-10-04 15:04] pixelzoom commented on #84
Re-assigning to @kathy-phet to prioritize, since that's no longer @ariel-phet's responsibility.

[2022-10-05 21:35] chrisklus commented on #109
@pixelzoom it looks like both of those issues have been reviewed and closed. Though I just noticed that maybe [this list](https://github.com/phetsims/vegas/issues/108#issuecomment-1183478528) should be moved to a chip away issue and assigned to responsible devs.

[2022-10-08 01:36] #109 closed

[2022-10-18 15:29] amanda-phet opened #113 "How to handle gameLevels in the Preferences dialog"
For the work in https://github.com/phetsims/number-play/issues/189 we are making the option to customize game levels accessible from the preferences dialog. Since this is the first sim to have this in the preferences menu, but `gameLevels` is in numerous sims, we'd like input from any interested parties as to how this should be controlled.

Currently, they are implemented as a list of checkboxes (

[2022-10-18 15:30] pixelzoom commented on #113
A few thoughts:

* gameLevels seems like an odd thing to add to Preferences. Why do we want students to change which levels are available after the sim has started?

* gameLevels support was recently added to several new UI components in vegas. None of that support handles changing gameLevels after the sim has started. So there will be significant work there.

* The names given to game levels in t

[2022-10-18 15:32] amanda-phet commented on #113
On Slack, @kathy-phet said:

[2022-10-18 15:51] pixelzoom commented on #113
Thanks @kathy-phet, that’s helpful.

Regarding:

Keep in mind that, unlike apps or desktop applications, sim Preferences are not persistent.  So every time the sim is loaded, parent/teacher/student will need to re-set desired Preferences.

[2022-10-18 15:55] pixelzoom commented on #113
As I said above, that's a problematic UI.  What happens if all checkboxes are unchecked?  It's not a good UX. And does the code even handle that correctly?

[2022-10-18 19:41] chrisklus commented on #113
<img width="424" alt="image" src="https://user-images.githubusercontent.com/5618316/196527785-cfcc44fa-2b5f-49c4-b68c-3fbe5bc5a2f0.png">

@pixelzoom asked:

Agreed that it's weird.

When I added an option for `gameLevelsProperty` in LevelSelectionButtonGroup, removing an assertion was all that was needed for it to be handled correctly.

Here's a patch for these changes:

Note that the layout needs

[2022-10-20 13:14] pixelzoom commented on #113
I reviewed and tested the above patch.  It's not ready for production.

In NumberPlay:

* The patch is not working for me. I don't see any change to the LevelSelectionButtonGroup. All LevelSelectionButtons remain visible regardless of the Preferences settings.  All of the description in the GameInfo dialog remain visible.  What am I doing wrong?

In Fourier (a PhET-iO sim):

* There is nothing in

[2022-10-20 14:13] pixelzoom opened #114 "branch: vegas"
Why does the vegas repo have a branch named 'vegas'?  That's very odd.  Please document the branch in this issue, and/or delete the branch and close this issue.

This branch was last update by @samreid on 6/3/2021.

[2022-10-20 14:22] samreid commented on #114
There were no commits on the branch, I don't recall why it was created (likely a mistake).  I deleted the branch, closing.

[2022-10-20 14:22] #114 closed

[2022-10-20 21:56] jonathanolson opened #115 "Convert vegas string usage to dynamic strings"

[2022-10-23 19:47] pixelzoom opened #116 "Modify RewardDialog constructor to take `scoreProperty:Property<number>`"
Modify `RewardDialog` constructor to take `scoreProperty:Property<number>`, so that one instance can be reused.  This is important for PhET-iO instrumentation of games, like the "Solve It!" game in equality-explorer https://github.com/phetsims/equality-explorer/issues/192.  The alternative is to use PhetioCapsule.

[2022-10-23 19:48] pixelzoom commented on #116
@kathy-phet @samreid @zepumph FYI.

[2022-10-24 17:19] pixelzoom opened #117 "Use StringProperty from VegasStrings.ts"
Throughout the implementation of vegas components, use the StringProperty instances from VegasStrings.ts.

Then add `"supportsDynamicLocale": true` to package.json, and run `grunt modulify` to regenerate VegasStrings.ts.

There are no uses of VegasStrings.ts outside of vegas.

[2022-10-24 18:18] pixelzoom commented on #117
Done, closing.

[2022-10-24 18:18] #117 closed

[2022-10-24 20:11] pixelzoom commented on #116
RewardDialog's constructor signature is now:

[code]

Closing.

[2022-10-24 20:11] #116 closed

[2022-10-27 19:02] chrisklus commented on #113
Hm, I'm not sure what the problem is. I just tried the patch again and it's working for me. Running without `gameLevels`, the LevelSelectionButtons load with their default visibility and the preference controls can change the visibility. Running with `gameLevels`, the LevelSelectionButtons load with the specified configuration and the preference controls reflect the starting state. Maybe double ch

[2022-10-27 20:42] amanda-phet commented on #113
We had a general discussion today about the sim preferences dialog ([notes here](https://docs.google.com/document/d/1ZygYZaZVxPqLzV8pzn9EG6ghGUTaWraUcG4E_DlWmxo/edit#heading=h.xwvz0446du0)) and indirectly came to the conclusion that gameLevels should not be available in the preferences dialog. We think this customization is better served by using a query parameter, and longer term, a customization

[2022-10-27 20:42] #113 closed